<h3>Sponsors</h3>

<div class="row">
    <div class="col-lg-10">
        <h5 class="after-title-field">Instructions for Sponsors and Donations</h5>
        <textarea class="form-control" rows="5"></textarea><br>
    </div>
</div>

<div class="row after-title-field">
    <div class="colg-lg-12">
        <section>
            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box">
                    <div class="pricing-box-header platinum">
                        <h2 style="color: black;">Platinum</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ <input class="med-input" /></h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box">
                    <div class="pricing-box-header gold">
                        <h2>Gold</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ <input class="med-input" /></h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box">
                    <div class="pricing-box-header silver">
                        <h2 style="color: black;">Silver</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ <input class="med-input" /></h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box">
                    <div class="pricing-box-header bronze">
                        <h2>Bronze</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ <input class="med-input" /></h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box">
                    <div class="pricing-box-header">
                        <h2>Supporter</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ <input class="med-input" /></h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                            <li> <center><input class="big-input" /></center></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>