<h3>Manage Topics</h3><br>
<div class="col-lg-12">
    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b>Topic Name</b></td>
            <td><b>Description</b></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Robotics</td>
            <td>HRI</td>
            <td data-toggle="modal" data-target="#editTopic"><a href="">Edit</a></td>
            <td><a href="" data-toggle="modal" data-target="#delete"><i class="glyphicon glyphicon-remove"></i></a></td>
            <td></td>
        </tr>
        <tr>
            <td>Data security</td>
            <td>Access Control</td>
            <td data-toggle="modal" data-target="#editTopic"><a href="">Edit</a></td>
            <td><a href="" data-toggle="modal" data-target="#delete"><i class="glyphicon glyphicon-remove"></i></a></td>
        </tr>
    </table>
    <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addTopic">Add Topic</button> <a href=""><i class="fa fa-info-circle info-icon" title="Submission topics"> </i></a>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="deleteLabel">Remove Topic</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to remove the selection?
            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary left" data-dismiss="modal">Remove</button>
                <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addTopic" tabindex="-1" role="dialog" aria-labelledby="addTopicLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addTopicLabel">Add New Topic</h4>
            </div>
            <div class="modal-body">
                <h5 class="after-title-field">Topic Name:</h5>
                <input type="text" /><br><br>
                <h5 class="after-title-field">Description:</h5>
                <input type="text" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary left" data-dismiss="modal">Add</button>
                <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
           </div>
       </div>
    </div>
</div>

<div class="modal fade" id="editTopic" tabindex="-1" role="dialog" aria-labelledby="editTopicLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="editTopicLabel">Edit Topic</h4>
            </div>
            <div class="modal-body">
                <h5 class="after-title-field">Topic Name:</h5>
                <input type="text" value="Access Control"/><br><br>
                <h5 class="after-title-field">Description:</h5>
                <input type="text" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary left" data-dismiss="modal">Save</button>
                <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>