<div ng-controller="administratorCtrl as vm">

    <h3>Manage Administrators</h3>
    
        <table ng-table="tableParams" show-filter="true" class="table row">
            <tr>
                <td>Name</td>
                <td>E-mail</td>
            </tr>
            <tr ng-repeat="user in vm.list" ng-class="{ 'emphasis': user.money > 500 }">
                <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
                    {{user.name}}
                </td>
                <td data-title="'Email'">
                    {{user.email}}
                </td>
            </tr>
        </table>

    <button class="btn btn-ar btn-primary" style="float: right;">Create Administrator</button>
</div>