<h3>Manage Topics</h3><br>
<div ng-controller="topicCtrl as vm">
    <div class="col-lg-8 hide-until-loaded"  id="body">
        <table ng-table="tableParams" class="table row">
            <tr>
                <td><b>Topic Name</b></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="topiccategory in vm.topicsList">
                <td>{{topiccategory.name}}</td>
                <td data-toggle="modal" data-target="#editTopic" ng-click="vm.selectedTopicUpdate(topiccategory.topiccategoryID, topiccategory.name)"><a href="">Edit</a></td>
                <td><a href="" data-toggle="modal" data-target="#deleteTopic" ng-click="vm.selectedTopicDelete(topiccategory.topiccategoryID)"><i class="glyphicon glyphicon-remove"></i></a></td>
            </tr>
        </table>
        <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addTopic">Add Topic</button> <a href=""><i class="fa fa-info-circle info-icon" title="Submission topics"> </i></a>
        <br>
    </div>
    <div class="col-lg-12">
        <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
    </div>
    <div class="modal fade" id="deleteTopic" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Remove Topic</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove the selection?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.deleteTopic()">Remove</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addTopic" tabindex="-1" role="dialog" aria-labelledby="addTopicLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addTopicLabel">Add New Topic</h4>
                </div>
                <div class="modal-body">
                    <h5 class="after-title-field">Topic Name:</h5>
                    <input type="text" name="" ng-model="vm.name" /><br><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addTopic()">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTopic" tabindex="-1" role="dialog" aria-labelledby="editTopicLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editTopicLabel">Edit Topic</h4>
                </div>
                <div class="modal-body">
                    <h5 class="after-title-field">Topic Name:</h5>
                    <input type="text" ng-model="vm.editname" /><br><br>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.updateTopic()">Save</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
