<div ng-controller="submissionsCtrl as vm">
    <div ng-hide="vm.view">
        <h3>Manage Submissions</h3><br>
        <div class="col-lg-12">
            <table ng-table="tableParams" class="table row">
                <thead>
                    <tr>
                        <th><b>Submision Title</b></th>
                        <th><b>Type</b></th>
                        <th><b>Topic</b></th>
                        <th><b>Evaluations</b></th>
                        <th><b>Avg. Score</b></th>
                        <th><b>Submission Status</b></th>
                        <th><b>Acceptance Status</b></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="sub in vm.submissionsList">
                        <td data-title="'Title'">
                            <a href="" ng-click="vm.view = true;">{{sub.submissionTitle}}</a>
                        </td>
                        <td>{{sub.submissionTypeName}}</td>
                        <td>{{sub.topic}}</td>
                        <td data-title="'Evaluator'">
                            <a href="" data-toggle="modal" data-target="#evalDetail">Manage Evaluations</a>
                        </td>
                        <td>
                            {{sub.avgScore}}
                        </td>
                        <td data-title="''">
                            {{sub.isEvaluated}}
                        </td>
                        <td>
                            <select ng-model="sub.acceptanceStatus" ng-options="acceptanceStatus for acceptanceStatus in vm.acceptanceStatusList"></select>
                            <button class="btn btn-ar btn-primary">Apply</button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>




    <div class="modal fade" id="addTemplate" tabindex="-1" role="dialog" aria-labelledby="addTemplateLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addTemplateLabel">Add New Template</h4>
                </div>
                <div class="modal-body">
                    <h5 class="after-title-field">Select template:</h5><br>
                    <button class="btn btn-ar btn-primary">Browse</button> <input class="form-group" />
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal fade" id="evalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Manage Evaluations:</h4>
                </div>
                <div class="modal-body">
                    <label>Submission Title: Title</label><br />
                    <label>Evaluation Template:</label>
                    <select>
                        <option>Template_1</option>
                        <option>Template_2</option>
                        <option>Template_3</option>
                    </select>
                    <button class="btn btn-ar btn-primary">Add New</button> <br /><br />


                    <table ng-table="tableParams" class="table row">
                        <thead>
                            <tr>
                                <td>Evaluator</td>
                                <td>Score</td>
                                <td>Evaluation</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="sub in vm.submissionsList">
                                <td></td>
                                <td></td>
                                <td>
                                    <a href="">View</a>
                                </td>
                            </tr>
                        </tbody>

                    </table>
                    <br />
                    <select>
                        <option ng-repeat="sub in vm.submissionsList"></option>
                    </select>
                    <button class="btn btn-ar btn-primary">Assign <i class="fa fa-arrow-up"> </i></button>

                </div>


                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Save</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

<!-- View -->
    <div ng-show="vm.view">
        <h5>View</h5>
            <h4>Title: {{vm.submissionTitle}}</h4>
            <div>
                <label>{{vm.submissionTypeName}}</label>
            </div>
            <div>
                <label>Topic category</label><br />{{vm.topic}}
            </div>
            <div>
                <label>Abstract</label><br />{{vm.submissionAbstract}}
            </div>
            <div ng-show="vm.submissionTypeID == 3">
                <label>List of panelists with their biographies</label><br />{{vm.panelistNames}}
            </div>
            <div ng-show="vm.submissionTypeID == 5">
                <label>Duration</label><br />{{vm.duration}}
            </div>
            <div ng-show="vm.submissionTypeID == 5">
                <label>Delivery</label><br />{{vm.delivery}}
            </div>
            <div ng-show="vm.submissionTypeID == 3 || vm.submissionTypeID == 5">
                <label>Plan </label><br />{{vm.plan}}
            </div>
            <div ng-show="vm.submissionTypeID == 3">
                <label>Guiding Questions</label><br />{{vm.guideQuestions}}
            </div>
            <div ng-show="vm.submissionTypeID == 3">
                <label>Format Description</label><br />{{vm.format}}
            </div>
            <div ng-show="vm.submissionTypeID == 3 || vm.submissionTypeID == 5">
                <label>Necessary Equipment</label><br />{{vm.equipment}}
            </div>
            <div ng-hide="vm.submissionTypeID == 4" ng-show="vm.submissionFileList.length != 0">
                <label>Uploaded Document(s) </label><br />
                <div ng-repeat="file in vm.submissionFileList">
                    <a href="" ng-show="file.document" ng-click="vm.downloadPDFFile(file.document)"> {{file.documentName}}</a>
                </div>
            </div>

            <div ng-show="vm.subIsEvaluated">
                <label>Evaluation Feedback</label><br />{{vm.publicFeedback}}
            </div>
            <!--show if submission has a previous version-->
            <div ng-show="vm.hasPrevVersion">
                <h4>Previous Version of Submission</h4>
                <div>
                    <label>Abstract</label><br />{{vm.prevSubmissionAbstract}}
                </div>
                <div ng-show="vm.submissionTypeID == 3">
                    <label>List of panelists with their biographies</label><br />{{vm.prevPanelistNames}}
                </div>
                <div ng-show="vm.submissionTypeID == 5">
                    <label>Duration</label><br />{{vm.prevDuration}}
                </div>
                <div ng-show="vm.submissionTypeID == 5">
                    <label>Delivery</label><br />{{vm.prevDelivery}}
                </div>
                <div ng-show="vm.submissionTypeID == 5 || vm.submissionTypeID == 3">
                    <label>Plan</label><br />{{vm.prevPlan}}
                </div>
                <div ng-show="vm.submissionTypeID == 3">
                    <label>Guiding Questions</label><br />{{vm.prevGuideQuestions}}
                </div>
                <div ng-show="vm.submissionTypeID == 3">
                    <label>Format Description</label><br />{{vm.prevFormat}}
                </div>
                <div ng-show="vm.submissionTypeID == 5 || vm.submissionTypeID == 3">
                    <label>Necessary Equipment</label><br />{{vm.prevEquipment}}
                </div>
                <div ng-show="vm.prevSubmissionFileList.length != 0" ng-hide="vm.submissionTypeID == 4">
                    <label>Uploaded Document(s) </label><br />
                    <div ng-repeat="file in vm.prevSubmissionFileList">
                        <a href="" class="col-sm-7" ng-show="file.document" ng-click="vm.downloadPDFFile(file.document)"> {{file.documentName}}</a>
                    </div>
                </div>
            </div>
            <br />






        <button class="btn btn-ar btn-default" ng-click="vm.view = false;">Back</button>
    </div>


</div>