<div ng-controller="committeeCtrl2 as vm">
    <h3>Planning Committee</h3><br>

    <div ng-hide="vm.planningCommitteeList.length"><p>No committee member has been added.</p><br /></div>
    <div class="col-lg-12 hide-until-loaded" id="body">
        <label class="left">Search: <input ng-model="searchText" /></label>
        <table ng-table="tableParams" class="table row" ng-show="vm.planningCommitteeList.length">
            <thead>
                <tr>
                    <th><b>Name</b></th>
                    <th><b>Affiliation</b></th>
                    <th><b>Position</b></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="committee in vm.planningCommitteeList | filter:searchText | orderBy: ['firstName', 'lastName']">
                    <td>{{committee.firstName}} {{committee.lastName}}</td>
                    <td>{{committee.affiliation}}</td>
                    <td>{{committee.description}}</td>
                    <td>
                        <a href="" data-toggle="modal" data-target="#editPosition" ng-click="vm.selectedMemberEdit(committee.committeeID, committee.description)">Edit</a>
                    </td>
                    <td>
                        <a href="" data-toggle="modal" data-target="#delete" ng-click="vm.selectedMemberDelete(committee.committeeID, committee.description)"><i class="glyphicon glyphicon-remove"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addMember">Add New Member</button> <a href=""><i class="fa fa-info-circle info-icon" title="The committee members will be displayed on the website."> </i></a>
    </div>

    <div class="col-lg-12">
        <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
    </div>

    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Remove Committee Member</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove the selection?
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.deleteMember()">Remove</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editPosition" tabindex="-1" role="dialog" aria-labelledby="editPositionLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editPositionLabel">Edit Position</h4>
                </div>
                <div class="modal-body">
                    <form name="editPositionForm" novalidate>
                        <label class="after-title-field">Select Position:</label><br>
                        <input id="Conference Chair" name="positionEdit" type="radio" ng-model="vm.position" value="Conference Chair">&nbsp;&nbsp;Conference Chair<br />
                        <input id="Conference Co-Chair" name="positionEdit" type="radio" ng-model="vm.position" value="Conference Co-Chair">&nbsp;&nbsp;Conference Co-Chair<br />
                        <input id="Treasurer" name="positionEdit" type="radio" ng-model="vm.position" value="Treasurer">&nbsp;&nbsp;Treasurer<br />
                        <input id="Conference Coordinator" name="positionEdit" type="radio" ng-model="vm.position" value="Conference Coordinator">&nbsp;&nbsp;Conference Coordinator<br />
                        <input id="Conference Assistant" name="positionEdit" type="radio" ng-model="vm.position" value="Conference Assistant">&nbsp;&nbsp;Conference Assistant<br />
                        <input id="Conference Accountant" name="positionEdit" type="radio" ng-model="vm.position" value="Conference Accountant">&nbsp;&nbsp;Conference Accountant<br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.editMember()">Save</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMemberabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addMemberLabel">Add Committee Member</h4>
                </div>
                <div class="modal-body">
                    <form name="addCommitteeForm" novalidate>
                        <label class="after-title-field">Name:</label>
                        <input type="text" ng-model="vm.name" name="name" required />
                        <label class="help-inline" ng-show="addCommitteeForm.name.$invalid && !addCommitteeForm.name.$pristine">First Name is required.</label>
                        <br /><label>Last Name:</label>
                        <input type="text" ng-model="vm.lname" name="lname" required />
                        <label class="help-inline" ng-show="addCommitteeForm.lname.$invalid && !addCommitteeForm.lname.$pristine">Last Name is required.</label>
                        <br /><label>Affiliation:</label>
                        <input type="text" ng-model="vm.affiliation" required /><br>
                        <label>Select Position:</label><br>
                        <input name="position" type="radio" ng-model="vm.position" value="Conference Chair">&nbsp;&nbsp;Conference Chair<br />
                        <input name="position" type="radio" ng-model="vm.position" value="Conference Co-Chair">&nbsp;&nbsp;Conference Co-Chair<br />
                        <input name="position" type="radio" ng-model="vm.position" value="Treasurer">&nbsp;&nbsp;Treasurer<br />
                        <input name="position" type="radio" ng-model="vm.position" value="Conference Coordinator">&nbsp;&nbsp;Conference Coordinator<br />
                        <input name="position" type="radio" ng-model="vm.position" value="Conference Assistant">&nbsp;&nbsp;Conference Assistant<br />
                        <input name="position" type="radio" ng-model="vm.position" value="Conference Accountant">&nbsp;&nbsp;Conference Accountant<br />
                        <label class="help-inline" ng-show="addCommitteeForm.position.$invalid && !addCommitteeForm.position.$pristine">Select a position.</label>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addMember()" ng-disabled="addCommitteeForm.$invalid">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal" ng-click="vm.clear()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addConfirm" tabindex="-1" role="dialog" aria-labelledby="addConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addConfirmLabel">Member Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The committee has been added.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editConfirm" tabindex="-1" role="dialog" aria-labelledby="editConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editConfirmLabel">Member Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The committee member has been updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteConfirmLabel">Member Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The committee member has been removed.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addError" tabindex="-1" role="dialog" aria-labelledby="addErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addErrorLabel">Member not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The committee member could not be added with the specified description.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>