<h3>Agenda <button class="btn btn-ar btn-primary right">Download Agenda</button></h3>

<div class="col-lg-4 agenda-division">
    <h5>Manage Rooms</h5> 

    <div class="col-sm-12 agenda-list">

        <ul class="list-group list-group-striped">
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#roomDetail">Room 1</a> <span class="right"><a href="" data-toggle="modal" data-target="#editRoom">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#roomDetail">Room 2</a> <span class="right"><a href="" data-toggle="modal" data-target="#editRoom">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#roomDetail">Room 3</a> <span class="right"><a href="" data-toggle="modal" data-target="#editRoom">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#roomDetail">Room 4</a> <span class="right"><a href="" data-toggle="modal" data-target="#editRoom">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#roomDetail">Room 5</a> <span class="right"><a href="" data-toggle="modal" data-target="#editRoom">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><a href="" data-toggle="modal" data-target="#roomDetail">Room 6</a> <span class="right"><a href="" data-toggle="modal" data-target="#editRoom">Edit</a> | <a href="">Delete</a></span></li>
        </ul>

    </div>

    
    <button class="btn btn-ar btn-primary">Add Room</button>

</div>


<div class="col-lg-8">
    <h5>Manage Events </h5>

    <div class="col-sm-12 agenda-list">

        <ul class="list-group list-group-striped">
            <li class="list-group-item"><span class="hour">20/Feb/2014</span><span class="hour">10:00 AM - 11:00 AM</span> <a href="" data-toggle="modal" data-target="#eventInfo">Event 1 Name</a><span class="right"><a href="" data-toggle="modal" data-target="#editEvent">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><span class="hour">20/Feb/2014</span><span class="hour">11:00 AM - 12:00 PM</span> <a href="" data-toggle="modal" data-target="#eventInfo">Event 2 Name</a><span class="right"><a href="" data-toggle="modal" data-target="#editEvent">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><span class="hour">20/Feb/2014</span><span class="hour">12:00 PM - 1:00 PM</span> <a href="" data-toggle="modal" data-target="#eventInfo">Event 3 Name</a><span class="right"><a href="" data-toggle="modal" data-target="#editEvent">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><span class="hour">21/Feb/2014</span><span class="hour">8:00 AM - 10:00 AM</span> <a href="" data-toggle="modal" data-target="#eventInfo">Event 4 Name</a><span class="right"><a href="" data-toggle="modal" data-target="#editEvent">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><span class="hour">21/Feb/2014</span><span class="hour">10:00 AM - 12:00 PM</span> <a href="" data-toggle="modal" data-target="#eventInfo">Event 5 Name</a><span class="right"><a href="" data-toggle="modal" data-target="#editEvent">Edit</a> | <a href="">Delete</a></span></li>
            <li class="list-group-item"><span class="hour">21/Feb/2014</span><span class="hour">1:00 PM - 2:00 PM</span> <a href="" data-toggle="modal" data-target="#eventInfo">Event 6 Name</a><span class="right"><a href="" data-toggle="modal" data-target="#editEvent">Edit</a> | <a href="">Delete</a></span></li>
        </ul>

    </div>


    <button class="btn btn-ar btn-primary">Add Event</button>

</div>







<div class="modal fade" id="eventInfo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Event Details:</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3">Date: </div> 20/Feb/2014 <br />
                <div class="col-md-3"> Time:</div> 10:00 AM - 11:00 AM <br />
                <div class="col-md-3"> Room:</div> Room 1 <br />
                <div class="col-md-3"> Event Information: </div> N/A <br /><br />
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editEvent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Event:</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3"> Date: </div><input class="form-group" placeholder="20/Feb/2014" /> <br />
                <div class="col-md-3"> Time:</div><input class="form-group" placeholder="10:00 AM - 11:00 AM" /> <br />
                <div class="col-md-3"> Room:</div><input class="form-group" placeholder="Room 1" /> <br />
                <div class="col-md-3"> Event Information: </div><textarea class="form-group" placeholder="N/A" ></textarea> <br />
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="roomDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Room Details:</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3"> Name: </div> Room 1<br />
                <div class="col-md-3"> Capacity:</div> 30<br />
                <div class="col-md-3"> Note:</div> This room does not have a speaker system.<br />
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="editRoom" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Edit Room:</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-3"> Name: </div><input class="form-group" placeholder="Room 1" /> <br />
                <div class="col-md-3"> Capacity:</div><input class="form-group" placeholder="30" /> <br />
                <div class="col-md-3"> Note:</div><textarea class="form-group" >This room does not have a speaker system </textarea> <br />
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>