<h3>Planning Committee</h3><br>

<div class="col-lg-12">
    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b>Name</b></td>
            <td><b>Affiliation</b></td>
            <td><b>Position</b></td>
            <td></td>
        </tr>
       <tr>
           <td>Nayda Santiago</td>
           <td>University of Puerto Rico- Mayagüez</td>
           <td>Conference Chair</td>
           <td><a href="" data-toggle="modal" data-target="#editPosition">Edit</a></td>
       </tr>
        <tr>
            <td>Maribel Feliciano</td>
            <td>University of Puerto Rico- Mayagüez</td>
            <td>Conference Coordinator</td>
            <td><a href="" data-toggle="modal" data-target="#editPosition">Edit</a></td>
        </tr>
    </table>
    <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addMember">Add New Member</button> <a href=""><i class="fa fa-info-circle info-icon" title="The committee members will be displayed on the website."> </i></a>
</div>

<div class="modal fade" id="editPosition" tabindex="-1" role="dialog" aria-labelledby="editPositionLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="editPositionLabel">Edit Position</h4>
            </div>
            <div class="modal-body">
                <h5 class="after-title-field">Select Position:</h5><br>
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Chair<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Co-Chair<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Treasurer<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Coordinator<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Assistant<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Accountant<br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary left" data-dismiss="modal">Save</button>
                <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMemberabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addMemberLabel">Add Committee Member</h4>
            </div>
            <div class="modal-body">
                <h5 class="after-title-field">Name:</h5>
                <input type="text" /><br>
                <h5 class="after-title-field">Affiliation:</h5>
                <input type="text" /><br>
                <h5>Select Position:</h5>
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Chair<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Co-Chair<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Treasurer<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Coordinator<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Assistant<br />
                <input type="checkbox" value="">&nbsp;&nbsp;Conference Accountant<br />
            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary left" data-dismiss="modal">Add</button>
                <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>