<div ng-controller="administratorCtrl as vm">
    
    <h3>Manage Applications</h3>
    <div class="col-lg-12">
        <table ng-table="tableParams" show-filter="true" class="table row">
            <tr>
                <td><b>Name</b></td>
                <td><b>Submission</b></td>
                <td><b>Category</b></td>
                <td><b>Submission Status</b></td>
                <td><b>Acceptance Status</b></td>
                <td><b>Registration Status</b></td>
            </tr>
            <tr ng-repeat="user in vm.list" ng-class="{ 'emphasis': user.money > 500 }">
                <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
                    {{user.name}}
                </td>
                <td><a ng-show="user.accepted || user.rejected" href="">View</a></td>
                <td>Poster</td>
                <td>
                    <a ng-show="user.accepted" style="color:limegreen;" href=""><i class="fa fa-check"></i> Accepted  </a>

                </td>

                <td>
                    <a ng-show="user.pending" style="color:cornflowerblue;" href=""><i class="fa fa-refresh"></i> In Process</a>
                    <a ng-show="user.accepted" style="color:limegreen;" href=""><i class="fa fa-check"></i> Accepted</a>
                    <a ng-show="user.rejected" style="color:red;" href=""><i class="fa fa-times"></i> Rejected</a>
                    <a ng-show="user.visitor" style="color:mediumpurple;" href=""><i class="fa fa-male"></i> Spectator</a>
                </td>
                <td>
                    <button ng-show="user.visitor || user.accepted" class="btn btn-ar btn-primary" style="margin-left:15px;">Accept</button>
                    <button ng-show="user.visitor || user.accepted" class="btn btn-ar btn-default">Reject</button>
                </td>

            </tr>
        </table>
    </div>
</div>