<div class="row" ng-controller="participationCtrl as vm">

    <h3>Participation</h3>

    <div class="col-lg-10 hide-until-loaded" id="body">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 1</h5>
                    <input type="text" class="form-control" ng-model="vm.participationTitle1">
                </div>
            </div>
        </div>

        <h5 class="after-title-field">Paragraph 1</h5>
        <textarea ng-model="vm.participationParagraph1" class="form-control" rows="5"></textarea><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 2</h5>
                    <input type="text" class="form-control" ng-model="vm.participationTitle2">
                </div>
            </div>
        </div>

        <h5 class="after-title-field">Paragraph 2</h5>
        <textarea ng-model="vm.participationParagraph2" class="form-control" rows="5"></textarea><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 3</h5>
                    <input type="text" class="form-control" ng-model="vm.participationTitle3">
                </div>
            </div>
        </div>

        <h5 class="after-title-field">Paragraph 3</h5>
        <textarea ng-model="vm.participationParagraph3" class="form-control" rows="5"></textarea><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 4</h5>
                    <input type="text" class="form-control" ng-model="vm.participationTitle4">
                </div>
            </div>
        </div>

        <h5 class="after-title-field">Paragraph 4</h5>
        <textarea class="form-control" rows="5" ng-model="vm.participationParagraph4"></textarea><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 5</h5>
                    <input type="text" class="form-control" ng-model="vm.participationTitle5">
                </div>
            </div>
        </div>

        <h5 class="after-title-field">Paragraph 5</h5>
        <textarea class="form-control" rows="5" ng-model="vm.participationParagraph5"></textarea><br />

        <div class="row">
            <div class="col-lg-10">
                <button class="btn btn-ar btn-primary" ng-click="vm.saveParticipation()">Save</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateConfirm" tabindex="-1" role="dialog" aria-labelledby="updateConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateConfirmLabel">Participation Update</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The information has been updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateError" tabindex="-1" role="dialog" aria-labelledby="updateErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateErrorLabel">Participation Update Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The information could not be updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>