<h3>Manage Usher Code</h3><br>
<div class="col-lg-12">
    <input type="text" value="U5H3R-C0D3"></>
    <button class="btn btn-ar btn-primary">Update Usher Code</button> &nbsp;&nbsp;<a href="" style="font-size:1.5em;"><i class="fa fa-info-circle" title="This code will be used when Ushers register."> </i></a><br>
</div>

<h3 style="padding-top:60px;">Manage Complementary Codes</h3>
<div class="col-lg-12 title-field">
    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b>Key Code</b></td>
            <td><b>Status</b></td>
            <td><b>Used by</b></td>
            <td></td>
        </tr>
        <tr>
            <td>1928739287</td>
            <td>Used</td>
            <td>Amanda Santiago</td>
            <td><a href="">Deactivate</a></td>
        </tr>
    </table>
    <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addCode">Generate New Code</button> <a href="" style="font-size:1.5em;"><i class="fa fa-info-circle" title="Codes waive registration fee."></i></a>
</div>
<div class="modal fade" id="addCode" tabindex="-1" role="dialog" aria-labelledby="addCodeLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="addTopicLabel">Generate New Code</h4>
            </div>
            <div class="modal-body">
                <h5 class="after-title-field">Number of complimentary codes to generate:</h5><br>
                <input type="number" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary" data-dismiss="modal" style="float:left;">Add</button>
                <button class="btn btn-ar btn-default" data-dismiss="modal" style="float:left;">Cancel</button>
            </div>
        </div>
    </div>
</div>