<div ng-controller="reportCtrl as vm">
    <div class="row">
        <div class="col-lg-8"><h3>Bill Report</h3></div>
        <!-- Loading icon, appearing while table is loading its contents. -->
        <div class="col-lg-3 loading-right">
            <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>
    </div>
    <div class="col-lg-12 hide-until-loaded" id="body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseOne"
                           href="">
                            Registration Payments
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-hide="vm.registrationList.length">
                            <p class="title-field">No content to display.</p>
                        </div>
                        <div ng-show="vm.registrationList.length">
                            <div class="paging-height">
                                <table class="table table-top col-lg-12" id="billTable">
                                    <thead>
                                        <tr>
                                            <td><b>Attendee Name</b></td>
                                            <td><b>Affiliation Name</b></td>
                                            <td><b>Type of User</b></td>
                                            <td><b>Amount Paid</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in vm.registrationList">
                                            <td>{{p.name}}</td>
                                            <td>{{p.affiliation}}</td>
                                            <td>{{p.userType}}</td>
                                            <td>${{p.amountPaid}}</td>
                                        </tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6">Showing page {{vm.rindex + 1}} of {{vm.rmaxIndex}}</div>
                            <div class="col-lg-6 paging-word">
                                <a class="btn btn-default" ng-disabled="vm.rindex==0" ng-click="vm.getFirstRegistrationPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.rindex==0" ng-click="vm.previousRegistration()">Previous</a>
                                <a class="btn btn-default" ng-disabled="vm.rindex >= (vm.rmaxIndex-1)" ng-click="vm.nextRegistration()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.rindex >= (vm.rmaxIndex-1)" ng-click="vm.getLastRegistrationPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel2">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-target="#collapseTwo"
                           href="" class="collapsed">
                            Sponsor Payments
                        </a>
                    </h4>

                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-hide="vm.sponsorList.length">
                            <p class="title-field">No content to display.</p>
                        </div>
                        <div ng-show="vm.sponsorList.length">
                            <div class="paging-height">
                                <table class="table table-top col-lg-12" id="billTable2">
                                    <thead>
                                        <tr>
                                            <td><b>Attendee Name</b></td>
                                            <td><b>Affiliation Name</b></td>
                                            <td><b>Type of User</b></td>
                                            <td><b>Amount Paid</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="p in vm.sponsorList">
                                            <td>{{p.name}}</td>
                                            <td>{{p.affiliation}}</td>
                                            <td>{{p.userType}}</td>
                                            <td>${{p.amountPaid}}</td>
                                        </tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6">Showing page {{vm.sindex + 1}} of {{vm.smaxIndex}}</div>
                            <div class="col-lg-6 paging-word">
                                <a class="btn btn-default" ng-disabled="vm.sindex==0" ng-click="vm.getFirstSponsorPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.sindex==0" ng-click="vm.previousSponsor()">Previous</a>
                                <!--<span><a class="btn btn-default">{{vm.sindex+1}}</a></span>-->
                                <a class="btn btn-default" ng-disabled="vm.sindex >= (vm.smaxIndex-1)" ng-click="vm.nextSponsor()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.sindex >= (vm.smaxIndex-1)" ng-click="vm.getLastSponsorPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a ng-click="vm.downloadBillReport()" class="btn btn-ar btn-primary" ng-show="vm.registrationList.length || vm.sponsorList.length">Download Full Report</a>
    </div>
</div>