<style>
    h6{
        margin: 0;
        margin-top: 10px;
    }
    h5 {
        margin: 10px;
    }
</style>

<h3>Registration</h3>

<div class="row">

    <div class="col-md-10">
        <h5 class="after-title-field">Instructions for Registration</h5>
        <textarea class="form-control" rows="5"></textarea><br>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="content-box box-default">

            <h5 class="content-box-title">High School Student</h5>
            <div class="row" style="text-align:left;">
                <h6>Description of type of user</h6>
                <textarea rows="3" style="width:100%;"></textarea>
                <h6>Amount to Pay</h6>
                <input style="width:100%;" />
                <h6>Deadline to pay fee without fee increase</h6>
                <input style="width:100%;" />
                <h6>Amount to pay in case of fee increase</h6>
                <input style="width:100%;" />
                <h6>Days of participation for conference</h6>
                <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                <h6>Cancellation Policy</h6>
                <textarea rows="3" style="width:100%;"></textarea>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-box box-default">
            <h5 class="content-box-title">Student Companion</h5>
            <div class="row" style="text-align:left;">
                <h6>Description of type of user</h6>
                <textarea rows="3" style="width:100%;"></textarea>
                <h6>Amount to Pay</h6>
                <input style="width:100%;" />
                <h6>Deadline to pay fee without fee increase</h6>
                <input style="width:100%;" />
                <h6>Amount to pay in case of fee increase</h6>
                <input style="width:100%;" />
                <h6>Days of participation for conference</h6>
                <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                <h6>Cancellation Policy</h6>
                <textarea rows="3" style="width:100%;"></textarea>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-box box-default">
            <h5 class="content-box-title">Graduate Student</h5>
            <div class="row" style="text-align:left;">
                <h6>Description of type of user</h6>
                <textarea rows="3" style="width:100%;"></textarea>
                <h6>Amount to Pay</h6>
                <input style="width:100%;" />
                <h6>Deadline to pay fee without fee increase</h6>
                <input style="width:100%;" />
                <h6>Amount to pay in case of fee increase</h6>
                <input style="width:100%;" />
                <h6>Days of participation for conference</h6>
                <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                <h6>Cancellation Policy</h6>
                <textarea rows="3" style="width:100%;"></textarea>
            </div>
        </div>
    </div>
<br />

    <div class="row">

        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Undergraduate Student</h5>
                <div class="row" style="text-align:left;">
                    <h6>Description of type of user</h6>
                    <textarea rows="3" style="width:100%;"></textarea>
                    <h6>Amount to Pay</h6>
                    <input style="width:100%;" />
                    <h6>Deadline to pay fee without fee increase</h6>
                    <input style="width:100%;" />
                    <h6>Amount to pay in case of fee increase</h6>
                    <input style="width:100%;" />
                    <h6>Days of participation for conference</h6>
                    <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                    <h6>Cancellation Policy</h6>
                    <textarea rows="3" style="width:100%;"></textarea>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Professional - Academy</h5>
                <div class="row" style="text-align:left;">
                    <h6>Description of type of user</h6>
                    <textarea rows="3" style="width:100%;"></textarea>
                    <h6>Amount to Pay</h6>
                    <input style="width:100%;" />
                    <h6>Deadline to pay fee without fee increase</h6>
                    <input style="width:100%;" />
                    <h6>Amount to pay in case of fee increase</h6>
                    <input style="width:100%;" />
                    <h6>Days of participation for conference</h6>
                    <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                    <h6>Cancellation Policy</h6>
                    <textarea rows="3" style="width:100%;"></textarea>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Professional - Industry</h5>
                <div class="row" style="text-align:left;">
                    <h6>Description of type of user</h6>
                    <textarea rows="3" style="width:100%;"></textarea>
                    <h6>Amount to Pay</h6>
                    <input style="width:100%;" />
                    <h6>Deadline to pay fee without fee increase</h6>
                    <input style="width:100%;" />
                    <h6>Amount to pay in case of fee increase</h6>
                    <input style="width:100%;" />
                    <h6>Days of participation for conference</h6>
                    <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                    <h6>Cancellation Policy</h6>
                    <textarea rows="3" style="width:100%;"></textarea>
                </div>
            </div>
        </div>

        <button class="btn btn-ar btn-primary">Usher Key Code</button> &nbsp;&nbsp;<a href="" style="font-size:1.5em;"><i class="fa fa-info-circle" title="This code will be used when Ushers register."> </i></a>
        <br />
        <textarea rows="1" class="form-control med-input">U5H3R-C0D3</textarea>

    </div>
</div>



