<div class="container" ng-controller="adminCtrl as vm">
    <div class="row">
        <div class="column-lg-12">
            <h2 class="section-title">Administrator Settings</h2>
            <div class="vertical-tabs-left">
                <div class="vertical-tab-list">
                    <h5 ng-show="{{vm.reports}}" class="title-centered">Website Content</h5>
                    <ul class="nav">
                        <li ng-show="{{vm.general}}"><a href="#/Administrator/GeneralInformation">General</a></li>
                        <li ng-show="{{vm.planning}}"><a href="#/Administrator/PlanningCommittee">Planning Committee</a></li>
                        <li ng-show="{{vm.venue}}"><a href="#/Administrator/Venue">Venue</a></li>
                        <li ng-show="{{vm.deadline}}"><a href="#/Administrator/Deadlines">Deadlines</a></li>
                        <li ng-show="{{vm.registrationInt}}"><a href="#/Administrator/RegistrationForm">Registration</a></li>
                        <li ng-show="{{vm.sponsorsInt}}"><a href="#/Administrator/Participation">Call for Participation</a></li>
                        <li ng-show="{{vm.contact}}"><a href="#/Administrator/Sponsors">Sponsors</a></li>
                        <li ng-show="{{vm.general}}"><a href="#/Administrator/Contact">Contact</a></li>
                    </ul>
                    <h5 class="title-centered">Conference Management</h5>
                    <ul class="nav">
                        <li ng-show="{{vm.committeeManage}}"><a href="#/Administrator/ManageAdministrators">Administrators</a></li>
                        <li ng-show="{{vm.topic}}"><a href="#/Administrator/ManageTopics">Topics</a></li>
                        <li ng-show="{{vm.registrationList}}"><a href="#/Administrator/RegistrationList">Registration List</a></li>
                        <li ng-show="{{vm.guest}}"><a href="#/Administrator/ManageGuests">Guests</a></li>
                        <li ng-show="{{vm.submissions}}"><a href="#/Administrator/ManageSubmissions">Submissions</a></li>
                        <li ng-show="{{vm.sponsors}}"><a href="#/Administrator/ManageSponsors">Sponsors</a></li>
                        <li ng-show="{{vm.templates}}"><a href="#/Administrator/ManageTemplates">Templates</a></li>
                        <li ng-show="{{vm.keyCodes}}"><a href="#/Administrator/ManageKeyCodes">Key Codes</a></li>
                        <li ng-show="{{vm.reports}}"><a href="#/Administrator/Reports">Reports</a></li>
                    </ul>
                </div> <!-- vertical-tab-list -->
                <div class="tab-content">
                    <div ui-view="adminPage" autoscroll="true"> </div> <!-- tab-content -->
                </div> <!-- vertical-tabs-left -->
            </div>
        </div>
    </div>
</div>

