<div ng-controller="administratorCtrl as vm">
    
    <h3>Manage Guests</h3><br>
    <div class="col-lg-12">
        <table ng-table="tableParams" show-filter="true" class="table row">
            <tr>
                <td><b>Name</b></td>
                <td><b>User Type</b></td>
                <td><b>Authorization Doc.</b></td>
                <td><b>Acceptance Status</b></td>
                <td><b>Registration Status</b></td>
            </tr>
            <tr ng-repeat="user in vm.list" ng-class="{ 'emphasis': user.money > 500 }">
                <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
                    <a href="" data-toggle="modal" data-target="#profile">{{user.name}}</a>
                </td>
                <td>Undergraduate Student</td>
                <td><a ng-show="user.accepted || user.rejected" href="">View</a></td>
                <td>
                    <select>
                        <option>Select Status</option>
                        <option>Accept</option>
                        <option>Reject</option>
                        <option>Pending Authorization</option>
                    </select>
                    <button class="btn btn-ar btn-primary">Apply</button>
                </td>

                <td>
                    <span ng-show="user.registered" class="accepted"><i class="fa fa-check"> </i> Registered</span> &nbsp;&nbsp;<button ng-show="user.registered" class="btn btn-ar btn-primary btn-small"> <i class="fa fa-times"></i>Cancel</button></td>

            </tr>
        </table>
    </div>
</div>





<div class="modal fade" id="profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" ng-controller="administratorCtrl as vm">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Randy Soto's Profile:</h4>
            </div>

            <div class="modal-body">
                


                <h3>General Information</h3>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Title:</label> Dr.
                    </div>
                    <div class="col-lg-6">
                        <label>First Name:</label> Randy
                    </div>
                    <div class="col-lg-6">
                        <label>Last Name:</label> Soto
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-lg-12">
                        <label>Affiliation:</label> University of Puerto Rico
                    </div>
                </div>

                <h4>Mailing Address</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Line 1:</label> #10 Street Name
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Line 2:</label> 
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <label>City:</label> Mayaguez
                    </div>
                    <div class="col-lg-6">
                        <label>State:</label> Puerto Rico
                    </div>
                    <div class="col-lg-6">
                        <label>Country:</label> United States
                    </div>
                    <div class="col-lg-6">
                        <label>Zip Code:</label> 012345
                    </div>
                </div>

                <h4>Contact Information</h4>
                <div class="row">
                    <div class="col-lg-12">
                        <label>Email:</label> name@email.com
                    </div>
                    <div class="col-lg-6">
                        <label>Phone Number:</label> 123-456-7890
                    </div>
                    <div class="col-lg-6">
                        <label>Fax:</label> 123-456-7890
                    </div>
                </div>

                <h4>Participation Days</h4>
                <div class="row">
                    <div class="col-lg-6">
                        <span class="block"> Day 1</span>
                        <span class="block"> Day 2</span>
                    </div>
                </div>



            </div>

            <div class="modal-footer">
                <button class="btn btn-ar btn-default left" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>