<h3>Registration</h3>

<div class="row">

    
    <div class="col-lg-12">
        <h6 class="after-title-field">
            Instructions for Registration</h6>
            <textarea class="form-control" rows="5"></textarea>
    </div>
    <div class="col-lg-6">
        <h6>Deadline to pay fee without fee increase</h6>
        <input type="date" class="form-control" />
    </div>
    <div class="col-lg-6">
        <h6>Amount to pay in case of fee increase</h6>
        <input class="form-control" placeholder="$" />
    </div>
    <div class="col-lg-12">
        <h6>Days of participation for conference</h6>
        <input type="date" class="date-range-width" />&nbsp;&nbsp;to <input type="date" class="date-range-width right" /><br>
    </div>
    <div class="col-lg-12">
        <h6>Cancellation Policy</h6>
        <textarea rows="3" class="form-control"></textarea>
    </div>
    
</div>

<div class="row">
    <div class="col-md-4">
        <div class="content-box box-default">

            <h5 class="content-box-title">High School Student</h5>
            <div class="row" style="text-align:left;">
                <h6>Description of type of user</h6>
                <textarea rows="3" class="form-control"></textarea>
                <h6>Amount to Pay</h6>
                <input class="form-control" placeholder="$" />                
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-box box-default">
            <h5 class="content-box-title">Student Companion</h5>
            <div class="row" style="text-align:left;">
                <h6>Description of type of user</h6>
                <textarea rows="3" class="form-control"></textarea>
                <h6>Amount to Pay</h6>
                <input class="form-control" placeholder="$" />                
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-box box-default">
            <h5 class="content-box-title">Graduate Student</h5>
            <div class="row" style="text-align:left;">
                <h6>Description of type of user</h6>
                <textarea rows="3" class="form-control"></textarea>
                <h6>Amount to Pay</h6>
                <input class="form-control" placeholder="$" />
            </div>
        </div>
    </div>
<br />

    

        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Undergraduate Student</h5>
                <div class="row" style="text-align:left;">
                    <h6>Description of type of user</h6>
                    <textarea rows="3" class="form-control"></textarea>
                    <h6>Amount to Pay</h6>
                    <input class="form-control" placeholder="$" />
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Professional - Academy</h5>
                <div class="row" style="text-align:left;">
                    <h6>Description of type of user</h6>
                    <textarea rows="3" class="form-control"></textarea>
                    <h6>Amount to Pay</h6>
                    <input class="form-control" placeholder="$" />
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Professional - Industry</h5>
                <div class="row" style="text-align:left;">
                    <h6>Description of type of user</h6>
                    <textarea rows="3" class="form-control"></textarea>
                    <h6>Amount to Pay</h6>
                    <input class="form-control" placeholder="$" />
                </div>
            </div>
        </div>
   
</div>



