<h3>General Information</h3>


<div class="row">
    <h5 class="col-lg-8">
        Venue Details:<br /><br />
        <textarea class="form-control" rows="5"></textarea>
    </h5>

    <h5 class="col-lg-4">
        Deadlines:
        <h6>
            Submission Deadline:  &nbsp;&nbsp;&nbsp;&nbsp;<input type="date" /><br /><br />
            Application Deadline:  &nbsp;&nbsp;&nbsp;&nbsp;<input type="date" /><br /><br />
            Registration Deadline:  &nbsp;&nbsp;<input type="date" />
        </h6>
    </h5>
</div>


<div class="row">
    <h5 class="col-lg-6">
        Contact Information:<br /><br />
        <textarea class="form-control" rows="5"></textarea>
    </h5>

    <h5 class="col-lg-6">
        Wired Transfer Information:<br /><br />
        <textarea class=" form-control" rows="5"></textarea>
    </h5>
</div>


<div class="row">
    <h5 class="col-lg-6">
        Instructions for paper submission:<br /><br />
        <textarea class="form-control" rows="5"></textarea>
    </h5>

    <h5 class="col-lg-6">
        Instructions for sponsorship and donations:<br /><br />
        <textarea class="form-control" rows="5"></textarea>
    </h5>
</div>


<div class="row">
    <h5 class="col-lg-6">
        Instructions for registration:<br /><br />
        <textarea class="form-control" rows="5"></textarea>
    </h5>

    <h5 class="col-lg-6">
        Instructions for scholarship application:<br /><br />
        <textarea class="form-control" rows="5"></textarea>
    </h5>
</div>


    <br />
    <button class="btn btn-ar btn-primary">Usher Key Code</button> &nbsp;&nbsp;<a href="" style="font-size:1.5em;"><i class="fa fa-info-circle" title="This code will be used when Ushers register."> </i></a>
    <br />
    <textarea rows="1" class="form-control med-input">U5H3R-C0D3</textarea>