<h3>Manage Evaluation Templates</h3>
<div class="col-lg-12">
    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b>Name</b></td>
            <td><b>Topic</b></td>
            <td><b>Description</b></td>
            <td><b>File</b></td>
        </tr>
        <tr>
            <td>Evaluation_1</td>
            <td>Human-Computer Interaction</td>
            <td>Undergraduate Students</td>
            <td><a href="">View</a></td>
        </tr>
        <tr>
            <td>Evaluation_2</td>
            <td>Human-Computer Interaction</td>
            <td>Graduate Students</td>
            <td><a href="">View</a></td>
        </tr>
        <tr>
            <td>Evaluation_3</td>
            <td>Access Control</td>
            <td>Undergraduate Students</td>
            <td><a href="">View</a></td>
        </tr>
        <tr>
            <td>Evaluation_4</td>
            <td>Access Control</td>
            <td>Graduate Students</td>
            <td><a href="">View</a></td>
        </tr>
    </table>
    <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addTemplate">Add Template</button> <a href="" style="font-size:1.5em;"><i class="fa fa-info-circle" title="These templates will be available for all minors when they register."> </i></a>
</div>