<div class="row" ng-controller="homeCtrl as vm">

    <div class="row">
        <div class="col-lg-6"><h3>Home</h3></div>
        <!-- Loading icon, appearing while table is loading its contents. -->
        <div class="col-lg-6 loading-right">
            <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>
    </div>

    <!-- Home Information -->
    <div class="col-lg-10 hide-until-loaded" id="body">
        <div class="row">
            <div class="col-md-7">
                <div class="form-group">
                    <h5 class="after-title-field">Home Main Title</h5>
                    <input type="text" class="form-control" ng-model="vm.homeMainTitle"><br />
                </div>
            </div>
        </div>

        <h5 class="after-title-field">Home Picture</h5>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="upload">
                <input type="file" id="imageFile" name="upload" file-model="myFile" on-read-file="saveImg($fileContent)" />
            </div>
        </form>
        <div ng-show="vm.show"><a href="" data-toggle="modal" data-target="#viewImg">View Image on File</a></div>

        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 1</h5>
                    <input type="text" class="form-control" ng-model="vm.homeTitle1">
                </div>
            </div>
        </div>
        <h5 class="after-title-field">Paragraph 1</h5>
        <textarea class="form-control" rows="5" ng-model="vm.homeParagraph1"></textarea><br />

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <h5 class="after-title-field">Title 2</h5>
                    <input type="text" class="form-control" ng-model="vm.homeTitle2">
                </div>
            </div>
        </div>
        <h5 class="after-title-field">Paragraph 2</h5>
        <textarea class="form-control" rows="5" ng-model="vm.homeParagraph2"></textarea><br />

        <div class="row">
            <div class="col-lg-10">
                <button class="btn btn-ar btn-primary" ng-disabled="vm.disabled" ng-click="vm.saveHome()">Save</button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="viewImg" tabindex="-1" role="dialog" aria-labelledby="viewImgLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="viewImgLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <div class="title-field">
                        <div ng-if="content">
                            <img class="img-size img-responsive" ng-src="{{content}}" />
                        </div>
                        <a class="btn btn-ar pull right" data-toggle="modal" data-target="#delete">Remove</a><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Do you want to delete? -->
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Are you sure you want to delete the image? It will not be displayed in: Home.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.removeImage()">Yes!</button>
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Confirmation -->
    <div class="modal fade" id="updateConfirm" tabindex="-1" role="dialog" aria-labelledby="updateConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateConfirmLabel">Home Update</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The information has been updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Update Error -->
    <div class="modal fade" id="updateError" tabindex="-1" role="dialog" aria-labelledby="updateErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="updateErrorLabel">Home Update Error</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The information could not be updated.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Delete Confirmation -->
    <div class="modal fade" id="deleteImgConfirm" tabindex="-1" role="dialog" aria-labelledby="deleteImgConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteImgConfirmLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The image has been removed.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Image Delete Error -->
    <div class="modal fade" id="deleteImgError" tabindex="-1" role="dialog" aria-labelledby="deleteImgErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteImgErrorLabel">Home Image</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The image could not be removed at this moment.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div>