<div ng-controller="administratorCtrl as vm">

    <h3>Manage Evaluations</h3>




    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b>Submision Title</b></td>
            <td><b>Evaluator</b></td>
            <td><b>Evaluation Template</b></td>
        </tr>
        <tr ng-repeat="user in vm.list">
            <td data-title="'Title'">
                Title of Submission
            </td>
            <td data-title="'Evaluator'">
                <select class="form-control">
                    <option ng-repeat="evaluator in vm.list">{{evaluator.name}}</option>
                </select>
            </td>
            <td data-title="'Template'">
                <input type="file" class="btn btn-default" />
            </td>
        </tr>
    </table>
</div>