<div ng-controller="evaluatorCtrl as vm">

    <div class="row">
        <div class="col-lg-8"><h3>Manage Evaluators</h3></div>
        <!-- Loading icon, appearing while table is loading its contents. -->
        <div class="col-lg-3 loading-right">
            <h3 id="loading-icon"><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>
    </div>

    <div class="col-lg-12 hide-until-loaded" id="body">
        <div class="panel-group" id="accordion">
            <div class="panel panel-default" id="panel1">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseOne">
                    <h4 class="panel-title">
                        <a href="">
                            Pending Applications for Evaluator
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-hide="vm.pendingList.length">
                            <p class="title-field">No content to display.</p>
                            <a class="btn btn-default" ng-click="vm.getPendingListFromIndex(vm.pindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
                        </div>
                        <div ng-show="vm.pendingList.length">
                            <div>
                                <table class="table table-top col-lg-12">
                                    <thead>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td><b>Email</b></td>
                                            <td><b>Update</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="evaluator in vm.pendingList">
                                            <td>{{evaluator.firstName}} {{evaluator.lastName}}</td>
                                            <td>{{evaluator.email}}</td>
                                            <td>
                                                <!-- DropDown Menu showing available status options. -->
                                                <select ng-model="evaluator.optionStatus"
                                                        ng-options="acceptanceStatus for acceptanceStatus in vm.acceptanceStatusList"></select>
                                                <button class="btn btn-ar btn-primary" ng-click="vm.updateAcceptanceStatus(evaluator)">Apply</button>
                                            </td>
                                        </tr>
                                        <tr><td></td><td></td><td></td></tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6">Showing page {{vm.pindex + 1}} of {{vm.pmaxIndex}}</div>
                            <div class="col-lg-6 paging-word">
                                <a class="btn btn-default" ng-click="vm.getPendingListFromIndex(vm.pindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-default" ng-disabled="vm.pindex==0" ng-click="vm.getFirstPendingPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.pindex==0" ng-click="vm.previousPending()">Previous</a>
                                <a class="btn btn-default" ng-disabled="vm.pindex >= (vm.pmaxIndex-1)" ng-click="vm.nextPending()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.pindex >= (vm.pmaxIndex-1)" ng-click="vm.getLastPendingPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="panel2">
                <div class="panel-heading" data-toggle="collapse" data-target="#collapseTwo">
                    <h4 class="panel-title">
                        <a href="">
                            Past Applications for Evaluator
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <div ng-hide="vm.evaluatorsList.length">
                            <p class="title-field">No content to display.</p>
                            <a class="btn btn-default" ng-click="vm.getEvaluatorListFromIndex(vm.eindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
                        </div>
                        <div ng-show="vm.evaluatorsList.length">
                            <!--<div class="pdiv right"><p class="psearch"> Search:</p><input ng-model="vm.searchEvaluator"></div><br />-->
                            <div>
                                <table class="table table-top col-lg-12">
                                    <thead>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td><b>Email</b></td>
                                            <td><b>Status</b></td>
                                            <td><b>Update</b></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="evaluator in vm.evaluatorsList | filter: vm.searchEvaluator">
                                            <td>{{evaluator.firstName}} {{evaluator.lastName}}</td>
                                            <td>{{evaluator.email}}</td>
                                            <td>{{evaluator.acceptanceStatus}}</td>
                                            <td>
                                                <!-- DropDown Menu showing available status options. -->
                                                <select ng-model="evaluator.optionStatus"
                                                        ng-options="acceptanceStatus for acceptanceStatus in vm.acceptanceStatusList"></select>
                                                <button class="btn btn-ar btn-primary" ng-click="vm.updateAcceptanceStatus(evaluator)">Apply</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table><br />
                            </div>
                            <div aria-live="polite" class="col-lg-6">Showing page {{vm.eindex + 1}} of {{vm.emaxIndex}}</div>
                            <div class="col-lg-6 paging-word">
                                <a class="btn btn-default" ng-click="vm.getEvaluatorListFromIndex(vm.eindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                                <a class="btn btn-default" ng-disabled="vm.eindex==0" ng-click="vm.getFirstEvaluatorPage()">First</a>
                                <a class="btn btn-default" ng-disabled="vm.eindex==0" ng-click="vm.previousEvaluator()">Previous</a>
                                <!--<span><a class="btn btn-default">{{vm.eindex+1}}</a></span>-->
                                <a class="btn btn-default" ng-disabled="vm.eindex >= (vm.emaxIndex-1)" ng-click="vm.nextEvaluator()">Next</a>
                                <a class="btn btn-default" ng-disabled="vm.eindex >= (vm.emaxIndex-1)" ng-click="vm.getLastEvaluatorPage()">Last</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="btn btn-ar btn-primary pull" data-toggle="modal" data-target="#addEvaluator">Add Evaluator</button> <a href=""><i class="fa fa-info-circle info-icon" title="Manually add an evaluator"> </i></a>
    </div>

    <!-- Add Evaluators Modal: Input: Email -->
    <div class="modal fade" id="addEvaluator" tabindex="-1" role="dialog" aria-labelledby="addEvaluatorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addEvaluatorLabel">Add Evaluator</h4>
                </div>
                <div class="modal-body">
                    <form name="addEvaluatorForm" novalidate>
                        <label>Email:</label>
                        <input id="email" name="email" type="email" ng-model="vm.email" required />
                        <label class="help-inline" ng-show="addEvaluatorForm.email.$invalid && !addEvaluatorForm.email.$pristine">Email is required.</label>
                        <br />
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" ng-click="vm.next()" ng-disabled="addEvaluatorForm.$invalid">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal" ng-click="vm.clear()">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error: Email not found in the system -->
    <div class="modal fade" id="addError" tabindex="-1" role="dialog" aria-labelledby="addErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addErrorLabel">Evaluator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator could not be added:
                        <ul><li>The email provided was not found in the system. Request the evaluator to create an account.</li></ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Error: Already an evaluator -->
    <div class="modal fade" id="addError2" tabindex="-1" role="dialog" aria-labelledby="addError2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addError2Label">Evaluator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator could not be added.
                        <ul><li>The email you provided belongs to a registered user that is already an evaluator.</li></ul>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Confirmation -->
    <div class="modal fade" id="addConfirm" tabindex="-1" role="dialog" aria-labelledby="addConfirmLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addConfirmLabel">Evaluator Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator has been added.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Confirmation -->
    <div class="modal fade" id="confirmationEvaluatorAcceptanceChange" tabindex="-1" role="dialog" aria-labelledby="acceptanceLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="acceptanceLabel">Acceptance Status Changed</h4>
                </div>
                <div class="modal-body">
                    The acceptance status has been changed.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Error: Unknown. Try again? -->
    <div class="modal fade" id="addError3" tabindex="-1" role="dialog" aria-labelledby="addError3Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="addError3Label">Evaluator not added</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator could not be added with the specified privilege. Try again later.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Error: Unknown. Try again? -->
    <div class="modal fade" id="editError" tabindex="-1" role="dialog" aria-labelledby="editErrorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editErrorLabel">Evaluator Status not updated</h4>
                </div>
                <div class="modal-body">
                    <p>
                        The evaluator could not be updated with the specified privilege. Try again later.
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

</div><!--ctrl end-->