<div ng-controller="registrationCtrl as vm">

    <h3>Registration List</h3><br>
    <div class="col-lg-12">
        <table ng-table="tableParams" show-filter="true" class="table row">
            <thead>
                <tr>
                    <th colspan="2"><label class="left">Search: <input ng-model="searchText" /></label></th>
                    <th>
                        <!--<label class="left">Day1: <input type="checkbox" name="date" ng-model="searchText.date1" ng-checked="all"/></label>
                        <label class="left">Day1: <input type="checkbox" name="date" ng-model="searchText.date2" ng-checked="all"/></label>
                        <label class="left">Day1: <input type="checkbox" name="date" ng-model="all" /></label>-->
                    </th>
                    <th colspan="2"><b>Participation Days</b></th>
                    <th colspan="2"></th>
                </tr>

                <tr>
                    <th><b>Name</b></th>
                    <th><b>Type of User</b></th>
                    <th><b>Affiliation</b></th>
                    <th><b>Day 1</b></th>
                    <th><b>Day 2</b></th>
                    <!-- <td></td> -->
                    <th></th>
                </tr>
            </thead>
            <tr ng-repeat="reg in vm.registrationsList | filter:searchText | orderBy: ['firstname', 'lastname']">
                <td>{{reg.firstname + ' ' + reg.lastname}}</td>
                <td>{{reg.usertypeid}}</td>
                <td>{{reg.affiliationName}}</td>
                <td ><i class="fa fa-check" ng-show="{{reg.date1}}"></i></td>
                <td><i class="fa fa-check" ng-show="{{reg.date2}}"></i></td>
                <!-- <td data-toggle="modal" data-target="#editAttendee"><a href="" ng-click="vm.selectedRegistrationUpdate(reg.registrationID, reg.firstname, reg.usertype, reg.affiliation, reg.date1, reg.date2)">Edit</a></td> -->
                <td><a href="" data-toggle="modal" data-target="#delete"><i class="glyphicon glyphicon-remove" ng-click="vm.selectedRegistrationDelete(reg.registrationID)"></i></a></td>
            </tr>
        </table>
        <div class="row">
            <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#register">Add Attendee</button> <a href=""><i class="fa fa-info-circle info-icon" title="Add to registration without paying fees."> </i></a>
            <button class="btn btn-ar btn-primary right">Download Attendance List</button>
        </div>
    </div>


    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="deleteLabel">Remove Attendee Notice!</h4>
                </div>
                <div class="modal-body">
                    Are you sure you want to remove this Registration?<br /> This action is irreversible.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.deleteRegistration()">Remove</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="registerTemplate" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="registerTemplate">Add Attendee</h4>
                </div>
                <div class="modal-body">
                    <h5 class="after-title-field">First Name</h5>
                    <input type="text" ng-model="vm.firstname" /><br>
                    <h5 class="after-title-field">Last Name</h5>
                    <input type="text" ng-model="vm.lastname" /><br>
                    <h5 class="after-title-field">Affiliation</h5>
                    <input type="text" ng-model="vm.affiliationName" /><br>
                    <h5 class="after-title-field">Title</h5>
                    <input type="text" ng-model="vm.title" /><br>
                    <h5 class="after-title-field">User Type</h5>
                    <input type="text" ng-model="vm.usertypeid" /><br>
                    <h5 class="after-title-field">Select Privileges:</h5>
                    <input type="checkbox" name="participation" value="1" ng-model="vm.date1">&nbsp;&nbsp;Wednesday, February 26, 2014<br>
                    <input type="checkbox" name="participation" value="2" ng-model="vm.date2">&nbsp;&nbsp;Thursday, February 27, 2014<br>
                    <input type="checkbox" name="participation" value="3">&nbsp;&nbsp;Both days
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.addRegistration()">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editAttendee" tabindex="-1" role="dialog" aria-labelledby="editAttendeeLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="editAttendeeLabel">Add Attendee</h4>
                </div>
                <div class="modal-body">
                    <h5 class="after-title-field">Name</h5>
                    <input type="text" ng-model="vm.editfirstname" /><br>
                    <h5 class="after-title-field">Affiliation</h5>
                    <input type="text" /><br>
                    <h5 class="after-title-field">Select Privileges:</h5>
                    <input type="checkbox" name="" value="">&nbsp;&nbsp;Wednesday, February 26, 2014<br>
                    <input type="checkbox" name="" value="">&nbsp;&nbsp;Thursday, February 27, 2014<br>
                    <input type="checkbox" name="" value="">&nbsp;&nbsp; Both days
                </div>
                <div class="modal-footer">
                    <button class="btn btn-ar btn-primary left" data-dismiss="modal" ng-click="vm.updateRegistration()">Add</button>
                    <button class="btn btn-ar btn-default left" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>