<h3>Registration</h3>

<div class="row">

    <div class="col-md-10">
        <h5 class="after-title-field">Instructions for Registration</nh5>
        <textarea class="form-control" rows="5"></textarea><br>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="content-box box-default">

            <h5 class="content-box-title">High School Student</nh5>
            <div class="row" style="text-align:left;">
                <nh6>Description of type of user</nh6>
                <textarea rows="3" class="full-width"></textarea>
                <nh6>Amount to Pay</nh6>
                <input class="full-width" />
                <nh6>Deadline to pay fee without fee increase</nh6>
                <input class="full-width" />
                <nh6>Amount to pay in case of fee increase</nh6>
                <input class="full-width" />
                <nh6>Days of participation for conference</nh6>
                <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                <nh6>Cancellation Policy</nh6>
                <textarea rows="3" class="full-width"></textarea>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-box box-default">
            <h5 class="content-box-title">Student Companion</nh5>
            <div class="row" style="text-align:left;">
                <nh6>Description of type of user</nh6>
                <textarea rows="3" class="full-width"></textarea>
                <nh6>Amount to Pay</nh6>
                <input class="full-width" />
                <nh6>Deadline to pay fee without fee increase</nh6>
                <input class="full-width" />
                <nh6>Amount to pay in case of fee increase</nh6>
                <input class="full-width" />
                <nh6>Days of participation for conference</nh6>
                <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                <nh6>Cancellation Policy</nh6>
                <textarea rows="3" class="full-width"></textarea>
            </div>
        </div>
    </div>


    <div class="col-md-4">
        <div class="content-box box-default">
            <h5 class="content-box-title">Graduate Student</nh5>
            <div class="row" style="text-align:left;">
                <nh6>Description of type of user</nh6>
                <textarea rows="3" class="full-width"></textarea>
                <nh6>Amount to Pay</nh6>
                <input class="full-width" />
                <nh6>Deadline to pay fee without fee increase</nh6>
                <input class="full-width" />
                <nh6>Amount to pay in case of fee increase</nh6>
                <input class="full-width" />
                <nh6>Days of participation for conference</nh6>
                <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                <nh6>Cancellation Policy</nh6>
                <textarea rows="3" class="full-width"></textarea>
            </div>
        </div>
    </div>
<br />

    <div class="row">

        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Undergraduate Student</nh5>
                <div class="row" style="text-align:left;">
                    <nh6>Description of type of user</nh6>
                    <textarea rows="3" class="full-width"></textarea>
                    <nh6>Amount to Pay</nh6>
                    <input class="full-width" />
                    <nh6>Deadline to pay fee without fee increase</nh6>
                    <input class="full-width" />
                    <nh6>Amount to pay in case of fee increase</nh6>
                    <input class="full-width" />
                    <nh6>Days of participation for conference</nh6>
                    <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                    <nh6>Cancellation Policy</nh6>
                    <textarea rows="3" class="full-width"></textarea>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Professional - Academy</nh5>
                <div class="row" style="text-align:left;">
                    <nh6>Description of type of user</nh6>
                    <textarea rows="3" class="full-width"></textarea>
                    <nh6>Amount to Pay</nh6>
                    <input class="full-width" />
                    <nh6>Deadline to pay fee without fee increase</nh6>
                    <input class="full-width" />
                    <nh6>Amount to pay in case of fee increase</nh6>
                    <input class="full-width" />
                    <nh6>Days of participation for conference</nh6>
                    <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                    <nh6>Cancellation Policy</nh6>
                    <textarea rows="3" class="full-width"></textarea>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="content-box box-default">
                <h5 class="content-box-title">Professional - Industry</nh5>
                <div class="row" style="text-align:left;">
                    <nh6>Description of type of user</nh6>
                    <textarea rows="3" class="full-width"></textarea>
                    <nh6>Amount to Pay</nh6>
                    <input class="full-width" />
                    <nh6>Deadline to pay fee without fee increase</nh6>
                    <input class="full-width" />
                    <nh6>Amount to pay in case of fee increase</nh6>
                    <input class="full-width" />
                    <nh6>Days of participation for conference</nh6>
                    <input type="date" style="width:46%;" /> to <input type="date" style="width:47%;" />
                    <nh6>Cancellation Policy</nh6>
                    <textarea rows="3" class="full-width"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>



