<div ng-controller="administratorCtrl as vm">
    
    <h3>Manage Attendants</h3>

    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b></b>Name</td>
            <td>User Type</td>
            <td>Acceptance Status</td>
        </tr>
        <tr ng-repeat="user in vm.list" ng-class="{ 'emphasis': user.money > 500 }">
            <td data-title="'Name'" filter="{ 'name': 'select' }" filter-data="names($column)">
                {{user.name}}
            </td>
            <td data-title="'Type'">
                {{}}
            </td>
            <td>
                <button ng-hide="user.accepted || user.rejected" class="btn btn-ar btn-primary">Accept</button>
                <button ng-hide="user.accepted || user.rejected" class="btn btn-ar btn-default">Reject</button>
                <span ng-show="user.accepted" style="color:limegreen;"><i class="fa fa-check"></i> Accepted</span>
                <span ng-show="user.rejected" style="color:red;"><i class="fa fa-times"></i> Rejected</span>
            </td>
        </tr>
    </table>

    <button class="btn btn-ar btn-primary" style="float:right;">Download Attendance List</button>

</div>