<div class="container" ng-controller="administratorCtrl">

    <div class="vertical-tabs-left">
        <div class="vertical-tab-list">
            <ul class="nav">
                <li class="active">
                    <a href="#home2" data-toggle="tab"><i class="fa fa-home"></i> Home</a>
                </li>
                <li>
                    <a href="#profile2" data-toggle="tab"><i class="fa fa-user"></i> Profile</a>
                </li>
                <li>
                    <a href="#messages2" data-toggle="tab"><i class="fa fa-envelope-o"></i> Messages</a>
                </li>
                <li>
                    <a href="#settings2" data-toggle="tab"><i class="fa fa-gear"></i> Settings</a>
                </li>
            </ul>
        </div> 
    
    
        <!-- vertical-tab-list -->
        <div class="tab-content">
            <div class="tab-pane active" id="home2">
                <h3 class="no-margin-top">Home Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ipsa nostrum blanditiis sint temporibus atque modi amet vitae soluta ab sapiente odio id, perspiciatis ullam accusantium quam error quibusdam illum, ipsum quos a exercitationem optio! Asperiores, ipsum consequuntur perspiciatis impedit. Cum fugit numquam nihil optio similique consequatur cumque voluptates omnis!</p>
            </div>
            <div class="tab-pane" id="profile2">
                <h3 class="no-margin-top">Profile Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, recusandae! Optio sint sequi vel tempora quibusdam ratione repellendus, aliquid expedita saepe voluptate quaerat qui tenetur provident, nulla a sunt nobis aperiam excepturi voluptatibus illum soluta rerum consectetur! Reiciendis minima praesentium quis cum, soluta perspiciatis magni nesciunt aut provident repellat, adipisci.</p>
            </div>
            <div class="tab-pane" id="messages2">
                <h3 class="no-margin-top">Messages Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptate blanditiis, magni saepe, aspernatur dolores! Enim amet eum doloribus unde est quasi, rem quas ducimus, ab odio modi, recusandae illum mollitia nihil sunt, minima nostrum accusantium in. Blanditiis dolore doloremque autem velit cum, quas pariatur, porro in, aut id assumenda.</p>
            </div>
            <div class="tab-pane" id="settings2">
                <h3 class="no-margin-top">Settings Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam ipsam cumque quisquam odit harum et aspernatur, quia unde nostrum, pariatur adipisci temporibus officiis illo nobis corporis exercitationem. Ex, nihil, porro. Voluptates eaque, necessitatibus autem harum quisquam ex eveniet maiores aperiam, quaerat odio quos perferendis tenetur voluptas quia sint at!</p>
            </div>
        </div> <!-- tab-content -->
    </div> <!-- vertical-tabs-left -->

</div>