<div ng-controller="administratorCtrl as vm">

    <h3>Manage Minors</h3>




    <table ng-table="tableParams" show-filter="true" class="table row">
        <tr>
            <td><b>Name</b></td>
            <td><b>Companion</b></td>
            <td><b>Authorization</b></td>
            <td><b>Acceptance Status</b></td>
        </tr>
        <tr ng-repeat="user in vm.list">
            <td data-title="'Name'">
                {{user.name}}
            </td>
            <td data-title="'Companion'">
                Nayda Santiago
            </td>
            <td data-title="'Template'">
                <a href="" ng-show="user.accepted" data-toggle="modal" data-target="#authModal"><i class="fa fa-file" title="Authorization Form"> </i></a>
                <a href="" ng-show="user.accepted" data-toggle="modal" data-target="#authModal"><i class="fa fa-file" title="Photo Release Form"> </i></a>
            </td>
            <td>
                <button ng-hide="user.accepted || user.rejected" class="btn btn-ar btn-primary">Accept</button>
                <button ng-hide="user.accepted || user.rejected" class="btn btn-ar btn-default">Reject</button>
                <span ng-show="user.accepted" style="color:limegreen;"><i class="fa fa-check"></i> Accepted</span>
                <span ng-show="user.rejected" style="color:red;"><i class="fa fa-times"></i> Rejected</span>
            </td>
        </tr>
    </table>

    <button class="btn btn-ar btn-primary ng-scope" data-toggle="modal" data-target="#addTemplate">Add Template</button> <a href="" style="font-size:1.5em;"><i class="fa fa-info-circle" title="These templates will be available for all minors when they register."> </i></a>

</div>



<div class="modal fade" id="addTemplate" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4>Select template document:</h4>
            </div>
            <div class="modal-body">
                <button class="btn btn-ar btn-primary">Browse</button> <input class="form-group" />

            </div>
            <div class="modal-footer">
                <button class="btn btn-ar btn-primary" data-dismiss="modal" style="float:left;">Save</button>
                <button class="btn btn-ar btn-default" data-dismiss="modal" style="float:left;">Cancel</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="evaluationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="evaluationModalLabel">Minor Authorization Form</h4>
            </div>
            <div class="modal-body">
                Lorem ipsum dolor sit amet, dui quis fringilla sapien quis consectetuer, nunc integer nisl cras dignissim fringilla, ut et lorem ultricies erat, consectetuer molestie natoque pharetra eros diam, libero posuere est id vestibulum. Sed vestibulum est dictum sit id, eu quis vivamus, purus convallis massa pellentesque justo sapien, quam ut eu, arcu vestibulum a mauris. Facilisis nullam perspiciatis nulla mauris ipsum, elit sagittis quisque pretium. Luctus ut, aliquid convallis, turpis ligula vitae libero pede, in in non sollicitudin at sed. Fuga elit nec cursus nam, elit scelerisque lorem nulla erat, lorem lacus erat a class.
                <br /><br />Convallis duis egestas donec nisl magna sagittis, pede iaculis pharetra dolor porttitor arcu diam, proin morbi maecenas. Eget wisi, quis aliquam metus ea commodo lectus. Amet tincidunt sollicitudin convallis suspendisse elit est. Quam dolor ultricies habitant. Nostra id mauris ullamcorper per dictumst, velit montes laoreet enim, ipsum libero, at nec orci quam semper tempus, condimentum donec. Quis vestibulum, malesuada arcu pharetra, varius imperdiet, sem ultricies vitae, maecenas consequatur malesuada mi nunc. Molestie fringilla sociis volutpat mauris. Lacinia est convallis euismod, sapien massa et fusce volutpat, cras ornare vestibulum. Erat ut augue, aenean eu iaculis tellus suspendisse, diam risus amet massa elit.
                <br /><br />Sodales quis, at ligula libero sodales pellentesque curabitur adipiscing, ut nulla ut volutpat morbi. Risus nisl, ut amet et pellentesque, id nibh massa vel, praesent rhoncus magna, taciti nisl sed vitae eget. Consequat turpis metus et sem ut. Neque placerat vel rerum lorem ut, pharetra sodales id volutpat est, vitae enim dui elit justo neque quis. Sit turpis feugiat, praesent elementum a facilisis, id vel fusce. Elit facilisis, ipsum pede et, commodo ut ligula class eleifend aenean nam, arcu venenatis ac. Laoreet ac leo lobortis in, massa sodales aptent nisl eget mollis.

            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>