<div class="container" ng-controller="administratorCtrl">

    <div class="vertical-tabs-left">
        <div class="vertical-tab-list">
            <ul class="nav">
                <li class="active">
                    <a href="#GeneralInformation" data-toggle="tab"><i class="fa fa-home"></i> General Information</a>
                </li>
                <li>
                    <a href="#RegistrationForm" data-toggle="tab"><i class="fa fa-user"></i> Registration Form</a>
                </li>
                <li>
                    <a href="#Agenda" data-toggle="tab"><i class="fa fa-envelope-o"></i> Agenda</a>
                </li>
                <li>
                    <a href="#SponsorInformation" data-toggle="tab"><i class="fa fa-gear"></i> Sponsors</a>
                </li>
                <li>
                    <a href="#ManageAdministrators" data-toggle="tab"><i class="fa fa-gear"></i> Manage Administrators</a>
                </li>
                <li>
                    <a href="#ManageAttendants" data-toggle="tab"><i class="fa fa-gear"></i> Manage Attendants</a>
                </li>
                <li>
                    <a href="#ManageEvaluators" data-toggle="tab"><i class="fa fa-gear"></i> Manage Evaluators</a>
                </li>
                <li>
                    <a href="#Reports" data-toggle="tab"><i class="fa fa-gear"></i> Reports</a>
                </li>
            </ul>
        </div> 
    
    
        <!-- vertical-tab-list -->
        <div class="tab-content">
            <div class="tab-pane active" id="GeneralInformation">
                <h3 class="no-margin-top">General Information Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis ipsa nostrum blanditiis sint temporibus atque modi amet vitae soluta ab sapiente odio id, perspiciatis ullam accusantium quam error quibusdam illum, ipsum quos a exercitationem optio! Asperiores, ipsum consequuntur perspiciatis impedit. Cum fugit numquam nihil optio similique consequatur cumque voluptates omnis!</p>
            </div>

            <div class="tab-pane" id="RegistrationForm">
                <h3 class="no-margin-top">Registration Form Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, recusandae! Optio sint sequi vel tempora quibusdam ratione repellendus, aliquid expedita saepe voluptate quaerat qui tenetur provident, nulla a sunt nobis aperiam excepturi voluptatibus illum soluta rerum consectetur! Reiciendis minima praesentium quis cum, soluta perspiciatis magni nesciunt aut provident repellat, adipisci.</p>
            </div>

            <div class="tab-pane" id="Agenda">
                <h3 class="no-margin-top">Agenda Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptate blanditiis, magni saepe, aspernatur dolores! Enim amet eum doloribus unde est quasi, rem quas ducimus, ab odio modi, recusandae illum mollitia nihil sunt, minima nostrum accusantium in. Blanditiis dolore doloremque autem velit cum, quas pariatur, porro in, aut id assumenda.</p>
            </div>

            <div class="tab-pane" id="SponsorInformation">
                <h3 class="no-margin-top">Sponsors Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam ipsam cumque quisquam odit harum et aspernatur, quia unde nostrum, pariatur adipisci temporibus officiis illo nobis corporis exercitationem. Ex, nihil, porro. Voluptates eaque, necessitatibus autem harum quisquam ex eveniet maiores aperiam, quaerat odio quos perferendis tenetur voluptas quia sint at!</p>
            </div>

            <div class="tab-pane" id="ManageAdministrators">
                <h3 class="no-margin-top">Manage Addmins Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam ipsam cumque quisquam odit harum et aspernatur, quia unde nostrum, pariatur adipisci temporibus officiis illo nobis corporis exercitationem. Ex, nihil, porro. Voluptates eaque, necessitatibus autem harum quisquam ex eveniet maiores aperiam, quaerat odio quos perferendis tenetur voluptas quia sint at!</p>
            </div>

            <div class="tab-pane" id="ManageAttendants">
                <h3 class="no-margin-top">Manage Attendants Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam ipsam cumque quisquam odit harum et aspernatur, quia unde nostrum, pariatur adipisci temporibus officiis illo nobis corporis exercitationem. Ex, nihil, porro. Voluptates eaque, necessitatibus autem harum quisquam ex eveniet maiores aperiam, quaerat odio quos perferendis tenetur voluptas quia sint at!</p>
            </div>

            <div class="tab-pane" id="ManageEvaluators">
                <h3 class="no-margin-top">Manage Evaluators Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam ipsam cumque quisquam odit harum et aspernatur, quia unde nostrum, pariatur adipisci temporibus officiis illo nobis corporis exercitationem. Ex, nihil, porro. Voluptates eaque, necessitatibus autem harum quisquam ex eveniet maiores aperiam, quaerat odio quos perferendis tenetur voluptas quia sint at!</p>
            </div>

            <div class="tab-pane" id="Reports">
                <h3 class="no-margin-top">Reports Tab</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus ullam ipsam cumque quisquam odit harum et aspernatur, quia unde nostrum, pariatur adipisci temporibus officiis illo nobis corporis exercitationem. Ex, nihil, porro. Voluptates eaque, necessitatibus autem harum quisquam ex eveniet maiores aperiam, quaerat odio quos perferendis tenetur voluptas quia sint at!</p>
            </div>
        </div> <!-- tab-content -->
    </div> <!-- vertical-tabs-left -->

</div>