<div class="container" ng-controller="abstractCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Albert Einstein</h2>
            <img src="img/demo/t1.jpg" alt="" class="imageborder alignleft">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Isaac Newton</h2>
            <img src="img/demo/t3.jpg" alt="" class="imageborder alignright">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Leonardo Da Vince</h2>
            <img src="img/demo/t4.jpg" alt="" class="imageborder alignleft">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sint aut reprehenderit hic cupiditate! Soluta quasi magnam, cupiditate porro sint odio sunt delectus officia, inventore assumenda quae. Error, quod, repellendus. Maiores voluptatibus sint ex.</p>
            <p>Vel laboriosam vitae delectus accusantium id deleniti, repellat ea tenetur odit quibusdam aliquam iste esse nisi labore ratione enim eligendi ad magni obcaecati assumenda facilis sit aspernatur odio quidem. Quidem, ducimus! Id impedit tempore temporibus, vitae labore, nihil. Consequatur, sunt!</p>
            <p>Dolorum recusandae quam dolorem mollitia illum tempora porro, inventore enim rerum voluptatibus architecto ab rem labore odit nulla quaerat? Necessitatibus aut, ut alias numquam blanditiis, repellat dolore maxime. Placeat maxime.</p>
        </div>
    </div> <!-- row -->
</div>