<div class="container" ng-controller="abstractCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Conference Chair</h2>
            <p>Nayda Santiago <br />University of Puerto Rico- Mayagüez</p>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Conference Co-Chairs</h2>
            <p>Lizdabel Morales <br />University of Puerto Rico- Mayagüez</p>
            <p>Gladys Omayra Ducoudray<br />University of Puerto Rico- Mayagüez</p>

        </div>
        <div class="col-md-12">
            <h2 class="right-line">Treasurer</h2>
            <p>Awilda Valle <br />University of Puerto Rico- Mayagüez</p>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Conference Coordinator</h2>
            <p>Maribel Feliciano <br />University of Puerto Rico- Mayagüez</p>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Conference Assistant</h2>
            <p>Evelyn Guzmán <br />University of Puerto Rico- Mayagüez</p>
        </div>
        <div class="col-md-12">
            <h2 class="right-line">Conference Accountant</h2>
            <p>Soliris Maldonado <br />University of Puerto Rico- Mayagüez</p>
        </div>
    </div> <!-- row -->
</div>