<div class="container" ng-controller="contactCtrl as vm">
    <div class="row hide-until-loaded" id="body">
        <div class="col-md-12">
            <h2 class="section-title">Send Message</h2>
        </div>
        <div class="col-md-8">
            <section>
                <p ng-show="vm.icontactAdditionalInfo">{{vm.icontactAdditionalInfo}}</p>
                <form role="form">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="InputName" class="black-label">Name</label>
                            <input type="email" class="form-control" id="InputName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="InputEmail1" class="black-label">Email address</label>
                            <input type="email" class="form-control" id="InputEmail1">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="InputMessage" class="black-label">Message</label>
                            <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>

        <div class="col-md-4">
            <section ng-show="vm.icontactName || vm.icontactPhone || vm.icontactEmail">
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-envelope-o"></i>Additional Information</div>
                    <div class="panel-body">
                        <h4>Contact</h4>
                        <strong ng-show="vm.icontactName">{{vm.icontactName}}<br></strong>
                        <p ng-show="vm.icontactPhone">Phone: {{vm.icontactPhone}}<br></p>
                        <p ng-show="vm.icontactEmail">Email: <a href="#">{{vm.icontactEmail}}</a></p>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>