<div style="margin-top:20px" class="container" ng-controller="contactCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title no-margin-top">Send Message</h2>
        </div>
        <div class="col-md-8">
            <section>
                <form role="form">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="InputName">Name</label>
                            <input type="email" class="form-control" id="InputName">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label for="InputEmail1">Email address</label>
                            <input type="email" class="form-control" id="InputEmail1">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-8">
                            <label for="InputMessage">Mesagge</label>
                            <textarea class="form-control" id="InputMessage" rows="8"></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </section>
        </div>

        <div class="col-md-4">
            <section>
                <div class="panel panel-primary">
                    <div class="panel-heading"><i class="fa fa-envelope-o"></i>Additional Information</div>
                    <div class="panel-body">
                        <h4>Contact</h4>
                            <strong>Maribel Feliciano</strong><br>
                            Phone:(123) 456-7890 <br>
                            Mail: <a href="#">support@cccwic.com</a>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>