<div class="container" ng-controller="deadlinesCtrl as vm">
        <h2 class="section-title">Deadlines</h2>
        <div class="col-md-8">
            <ul class="list-group">
                <li class="list-group-item"><span class="pull-right">October 10, 2015</span>Paper Submission</li>
                <li class="list-group-item"><span class="pull-right">January 10, 2016</span>Paper Acceptance/Rejection</li>
                <li class="list-group-item"><span class="pull-right">February 10, 2016</span>Final Paper Submission</li>
            </ul>
        </div>
    </div>