<div class="container" ng-controller="deadlinesCtrl2 as vm">
    <h2 class="section-title">Deadlines</h2>
    <div class="col-md-9">
        <div class="col-md-10 hide-until-loaded" id="body">
            <p ng-hide="vm.ideadlineTitle1 || vm.ideadlineParagraph1 || vm.ideadline1 || vm.ideadlineDate1 || vm.ideadline2 || vm.ideadlineDate2 || vm.ideadline3 || vm.ideadlineDate3 || vm.ideadline4 || vm.ideadlineDate4 || vm.ideadline5 || vm.ideadlineDate5">No content to display.</p>
            <h5>{{vm.ideadlineTitle1}}</h5>
            <p class="p-lg" parse-url="props" ng-model="vm.ideadlineParagraph1"></p>
            <table class="table after-title-field" id="deadlinetable" ng-show="vm.ideadline1 || vm.ideadlineDate1 || vm.ideadline2 || vm.ideadlineDate2 || vm.ideadline3 || vm.ideadlineDate3 || vm.ideadline4 || vm.ideadlineDate4 || vm.ideadline5 || vm.ideadlineDate5">
                <thead>
                    <tr>
                        <th class="text-left">Deadline</th>
                        <th class="text-left">Date</th>
                    </tr>
                </thead>

                <tbody>
                    <!--Papers-->
                    <tr ng-show="vm.iextendedPaperDeadline">
                        <td class="text-left"><h5 class="after-title-field">Submission for Extended Papers</h5></td>
                        <td class="text-left">{{vm.iextendedPaperDeadline}}</td>
                    </tr>

                    <tr ng-show="vm.iposterDeadline">
                        <td class="text-left"><h5 class="after-title-field">Submission for Posters</h5></td>
                        <td class="text-left">{{vm.iposterDeadline}}</td>
                    </tr>

                    <tr ng-show="vm.ipanelDeadline">
                        <td class="text-left"><h5 class="after-title-field">Submission for Panels</h5></td>
                        <td class="text-left">{{vm.ipanelDeadline}}</td>
                    </tr>

                    <tr ng-show="vm.ibofDeadline">
                        <td class="text-left"><h5 class="after-title-field">Submission for BoF</h5></td>
                        <td class="text-left">{{vm.ibofDeadline}}</td>
                    </tr>

                    <tr ng-show="vm.iworkshopDeadline">
                        <td class="text-left"><h5 class="after-title-field">Submission for Workshops</h5></td>
                        <td class="text-left">{{vm.iworkshopDeadline}}</td>
                    </tr>

                    <tr ng-show="vm.isponsorDeadline">
                        <td class="text-left"><h5 class="after-title-field">Sponsorship</h5></td>
                        <td class="text-left">{{vm.isponsorDeadline}}</td>
                    </tr>

                    <tr ng-show="vm.ideadline1">
                        <td class="text-left"><h5 class="after-title-field">{{vm.ideadline1}}</h5></td>
                        <td class="text-left">{{vm.ideadlineDate1}}</td>
                    </tr>

                    <tr ng-show="vm.ideadline2">
                        <td class="text-left"><h5 class="after-title-field">{{vm.ideadline2}}</h5></td>
                        <td class="text-left">{{vm.ideadlineDate2}}</td>
                    </tr>

                    <tr ng-show="vm.ideadline3">
                        <td class="text-left"><h5 class="after-title-field">{{vm.ideadline3}}</h5></td>
                        <td class="text-left">{{vm.ideadlineDate3}}</td>
                    </tr>

                    <tr ng-show="vm.ideadline4">
                        <td class="text-left"><h5 class="after-title-field">{{vm.ideadline4}}</h5></td>
                        <td class="text-left">{{vm.ideadlineDate4}}</td>
                    </tr>

                    <tr ng-show="vm.ideadline5">
                        <td class="text-left"><h5 class="after-title-field">{{vm.ideadline5}}</h5></td>
                        <td class="text-left">{{vm.ideadlineDate5}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <section class="right" ng-show="vm.idateFrom">
            <div class="panel panel-primary">
                <div class="panel-heading">Conference Days</div>
                <div class="panel-body">
                    <p ng-show="vm.idateFrom && vm.idateTo"><br />{{vm.idateFrom}} - {{vm.idateTo}}</p>
                    <p ng-show="vm.idateFrom && !vm.idateTo"><br />{{vm.idateFrom}}</p>

                </div>
            </div>
        </section>
    </div>
</div>