<div ng-controller="loginCtrl as vm">
    <div class="login-form-full">
        <div class="fix-box">
            <div class="text-center title-logo animated fadeInDown animation-delay-5"><span>CCWiC</span></div>
            <div class="transparent-div no-padding animated fadeInUp animation-delay-8">
                <ul class="nav nav-tabs nav-tabs-transparent">
                    <li class="active"><a href="/Login/#home" data-toggle="tab">Login</a></li>
                    <li><a href="/Login/#signup" data-toggle="tab">Sign Up</a></li>
                    <li><a href="/Login/#recover" data-toggle="tab">Recover Pass</a></li>
                    <li><a href="/Login/#recover2" data-toggle="tab">Recover Pass 2</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="text" class="form-control" placeholder="Username">
                                </div>
                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" placeholder="Password">
                                </div>
                                <div class="checkbox">
                                    <label id="remember-me-checkbox">
                                        <input type="checkbox"> Remember me
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-ar btn-primary pull-right">Login</button>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>



                    <div class="tab-pane" id="signup">
                        <form role="form">
                            <h3>General Information</h3>  
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="InputUserName">Title<sup>*</sup></label>
                                        <input type="text" class="form-control" id="InputUserName">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="InputUserName">First Name<sup>*</sup></label>
                                        <input type="text" class="form-control" id="InputUserName">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="InputFirstName">Last Name<sup>*</sup></label>
                                        <input type="text" class="form-control" id="InputFirstName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="InputFirstName" class="black-label">Affiliation (e.g. University, Company)<sup>*</sup></label>
                                        <input type="text" class="form-control" id="InputFirstName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="InputLastName" class="black-label">Type of User<sup>*</sup></label><br />
                                        <select class="form-control">
                                            <option value="">Evaluator</option>
                                            <option value="">High School Student</option>
                                            <option value="">High School Student- Companion</option>
                                            <option value="">Graduate Student</option>
                                            <option value="">Undergraduate Student</option>
                                            <option value="">Professional - Academy</option>
                                            <option value="">Professional - Industry</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row title-field">
                                <div class="col-md-6">
                                    <h3>Mailing Address</h3>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="">Line 1<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="" class="black-label">Line 2<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="black-label">City<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="black-label">State<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="black-label">Country<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="" class="black-label">ZipCode<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                            </div>

                            <br>
                            <h3>Contact Information</h3>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="">Email<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="">Phone Number<sup>*</sup></label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="after-title-field black-label" for="">Fax</label>
                                        <input type="" class="form-control" id="">
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="account-button"><br>
                                <div class="col-md-10">
                                    <button type="submit" class="btn btn-ar btn-primary ">Create Account</button>
                                </div>
                            </div>
                        </form>
                    </div>





                    <div class="tab-pane" id="recover">
                        <form role="form">
                            <div class="form-group">
                                <label for="InputEmail">Email<sup>*</sup></label>
                                <input type="email" class="form-control" id="InputEmail">
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">Request Password</button>
                        </form>
                    </div>

                    <div class="tab-pane" id="recover2">
                        <form role="form">
                            <div class="form-group">
                                <label for="InputEmail">Enter new password<sup>*</sup></label>
                                <input type="email" class="form-control" id="InputPass">
                                <label for="InputEmail">Confirm password<sup>*</sup></label>
                                <input type="email" class="form-control" id="InputPass">
                            </div>
                            <button type="submit" class="btn btn-ar btn-primary pull-right">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>