<div ng-controller="loginCtrl as vm">
    <div class="login-form-full">
        <div class="fix-box">
            <div class="text-center title-logo animated fadeInDown animation-delay-5"><span>CCWiC</span></div>
            <div class="transparent-div no-padding animated fadeInUp animation-delay-8">
                <ul class="nav nav-tabs nav-tabs-transparent">
                    <li><a href="#/Login/Log" >Login</a></li>
                    <li ng-hide="vm.loged"><a href="#/Login/Signup">Sign Up</a></li>
                    <li><a href="#/Login/RequestPass" >Request Password</a></li>
                   
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">

                    <div ui-view="login" autoscroll="false">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal"></modal>
    </div>
</div>