<div class="container" ng-controller="papersCtrl as vm">
    <!-- build:include layout/header.html --><!-- /build -->
           

                  <br/> <br/>

                    <div class="panel panel-primary">
                        <div class="panel-heading">Evaluation</div>
                        <div class="panel-body" >
                            
                                <form role="form">
                                    <div class="row ">
                                        <div class="form-group col-sm-7">

                                            <h6>Project Tittle:</h6>
                                            <h6>Category:</h6>


                                            <div class="row">
                                                <div class=" col-sm-5">
                                                    <label>Score:&nbsp;</label> <input class="small-input" type="text" />
                                                </div>


                                            </div>
                                        </div>


                                        <div class="alert col-sm-3" style="margin-top:5px;">
                                            <i class="fa fa-info-circle" title=""> </i> &nbsp;Please Download, Complete, and Upload the Files provided.
                                        </div>

                                        <div class="col-sm-2"><center>
                                            <h5 style="margin-left:-15px;">Evaluation Form &nbsp;&nbsp;</h5>


                                            <div class="row">
                                                <button class=" btn btn-ar btn-primary eval_btn"> <i class="fa fa-download"> </i> Download </button>
                                            </div><br />
                                            <div class="row">
                                                <button class="btn btn-ar btn-primary eval_btn"> <i class="fa fa-upload"> </i> Upload </button>
                                            </div></center>                                     
                                        </div>
                                       
                                        
                                    <div class="form-group col-sm-12">
                                        <label for="exampleInputPassword1">Public Comment</label>
                                        <textarea class="form-control" rows="5"></textarea>
                                    </div>

                                        <div class="form-group col-sm-12">
                                            <label for="exampleInputPassword1">Private Comment</label>
                                            <textarea class="form-control" rows="5"></textarea>
                                        </div>
                                        <div class="col-sm-12">
                                            <button type="submit" class="btn btn-ar btn-primary">Submit</button>
                                            <button type="cancel" class="btn btn-ar btn-default">Cancel</button>
                                        </div>
                                </form>
                            </div>
                    </div> <!-- panel panel-primary -->

                   
</div>