<div ng-controller="participationCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="right-line">Participate</h2>
            <button type="submit" class="btn btn-ar btn-primary pull-right">Apply</button>
            <div class="col-md-10">
               
            </div>



            <div ng-repeat="item in vm.list" class="row  animated fadeInUp animation-delay-3">
                <div class="row">
                    <div class="col-md-8 ">
                        <h4 class="content-box-title margin-small">{{item.name}}</h4>
                        <p>{{item.description}}</p>
                        <p>{{item.cancelation}}</p>
                        <p>
                            Days of participation for conference:</p>
                          <h6>  First Day: {{item.date1}}</p> <p>Last day: {{item.date2}} </p>
                        </h6>
                    </div>

                    <div class="col-lg-3 col-sm-4">
                        <div class="pricign-box animated fadeInUp animation-delay-3">
                            <div class="pricing-box-header ">
                                <center>Price</center>
                            </div>
                            <div class="pricing-box-price">
                                <center>{{item.registrationPrice}}</center>
                            </div>
                            <div class="pricing-box-content">
                                <ul>
                                    <li> <center>Deadline to pay:  ${{item.withoutFee}}</center></li>
                                    <li> <center>Amount to pay if fee increase: ${{item.withtFee}}</center></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                    
                </div>
                <div class="row">
                    <hr class="dotted"></div>
               
             </div>
        








        </div>
       
    </div>
</div>
