<div ng-controller="participationCtrl as vm">
    <div class="row hide-until-loaded" id="body">
        <div class="col-md-12">
            <h2 class="section-title">Participate <a href="#/Login/Signup" class="btn btn-ar btn-primary right">Apply</a></h2>
            <div class="row" ng-show="vm.iparticipationParagraph1">
                <div class="col-md-12 p-lg" ng-model="vm.iparticipationParagraph1" ckhtml></div>
            </div><br />
        </div>
    </div>
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>