<div ng-controller="profileInformationCtrl">
    <h3>General Information</h3>
    <div class="row">
        <div class="col-lg-1">
            Title: <input type="text" class="form-control">
        </div>
        <div class="col-lg-3">
            First Name: <input type="text" class="form-control">
        </div>
        <div class="col-lg-4">
            Last Name: <input type="text" class="form-control">
        </div>
    </div><br />

    <div class="row">
        <div class="col-lg-4">
            Affiliation: <input type="text" class="form-control">
        </div>
    </div>

    <h4>Mailing Address</h4>
    <div class="row">
        <div class="col-lg-6">
            Line 1: <input type="text" class="form-control">
        </div>        
    </div>
    <div class="row">
        <div class="col-lg-6">
            Line 2: <input type="text" class="form-control">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-2">
            City: <input type="text" class="form-control">
        </div>
        <div class="col-lg-2">
            State: <input type="text" class="form-control">
        </div>
        <div class="col-lg-2">
            Country: <input type="text" class="form-control">
        </div>
        <div class="col-lg-2">
            Zip Code: <input type="text" class="form-control">
        </div>
    </div>

    <h4>Contact Information</h4>
    <div class="row">
        <div class="col-lg-4">
           Email: <input type="text" class="form-control">
        </div>
        <div class="col-lg-3">
           Phone Number: <input type="text" class="form-control">
        </div>
        <div class="col-lg-3">
            Fax: <input type="text" class="form-control">
        </div>
    </div>

    <h4>Participation Days</h4>
    <div class="row">
        <div class="col-lg-4">
            <span class="block"><input type="radio" name="days" value="1"> Day 1</span>
            <span class="block"><input type="radio" name="days" value="2"> Day 2</span>
            <span class="block"><input type="radio" name="days" value="2"> All</span>
        </div>  
    </div>

    <br />
    <button class="btn btn-ar btn-primary">Save Changes</button> 
    <button class="btn btn-ar btn-default">Cancel</button>


</div>