<h3>Manage Ushers Complementary Codes</h3><br />
<div ng-controller="profileComplementaryCtrl as vm">


    <div class="row">
  
        <div class="col-xm-1 col-sm-1 col-md-1"></div>
        <div ng-hide="vm.loadingComp" class=" col-xm-10 col-sm-10 col-md-10">
            <div ng-hide="vm.sponsorKeys.length">
                <p class="title-field">No content to display.</p>
                <a class="btn btn-default btn-padding" ng-click="vm.getSponsorComplimentaryKeysFromIndex(vm.sindex)"><i class="glyphicon glyphicon-repeat"></i> Refresh</a>
            </div>
            <div ng-show="vm.sponsorKeys.length">
                <label class="left">Search Name: <input ng-model="searchText" /></label>
                <table id="keys" ng-table="tableParams" class="table row">
                    <thead>
                        <tr>
                            <th><b>Key Code</b></th>
                            <th><b>Used</b></th>
                            <th><b>Used by</b></th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="key in  vm.sponsorKeys | filter:searchText | orderBy: ['name']">
                            <td>{{key.key}}</td>
                            <td>{{key.isUsed}}</td>
                            <td>{{key.name}}</td>

                        </tr>
                    </tbody>
                </table><br />
            
                <div aria-live="polite" class="col-xm-6 col-sm-6 col-md-6">Showing page {{vm.sindex + 1}} of {{vm.smaxIndex}}</div>
                <div class="col-xm-6 col-sm-6 col-md-6 paging-word">
                    <a class="btn btn-default" ng-click="vm.getSponsorComplimentaryKeysFromIndex(vm.sindex)"><i class="glyphicon glyphicon-repeat"></i></a>
                    <a class="btn btn-default" ng-disabled="vm.sindex==0" ng-click="vm.getFirstComplimentaryPage()">First</a>
                    <a class="btn btn-default" ng-disabled="vm.sindex==0" ng-click="vm.previousComplimentary()">Previous</a>
                    <!--<span><a class="btn btn-default">{{vm.sindex+1}}</a></span>-->
                    <a class="btn btn-default" ng-disabled="vm.sindex >= (vm.smaxIndex-1)" ng-click="vm.nextComplimentary()">Next</a>
                    <a class="btn btn-default" ng-disabled="vm.sindex >= (vm.smaxIndex-1)" ng-click="vm.getLastComplimentaryPage()">Last</a>
                </div>
            </div>
            <br />


        </div>
        <div class="   col-xm-12 col-sm-12 col-md-12" ng-show="vm.loadingComp">
            <h3><span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span> Loading</h3>
        </div>

     
    </div>

    <div class="    col-xm-6 col-sm-6 col-md-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>