<div ng-controller="profileAuthorizationCtrl">
    <h3>Authorization</h3>
    <label class="registration-after-title-field">Photo Release Authorization:</label> Authorization for releasing pictures of minors.
    <span style="display:block;"><button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-download"> </i> Download</button> &nbsp;&nbsp; <button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-upload"> </i> Upload</button></span>
    <label>Assistance Authorization:</label> Authorization for minors to assist to the conference.
    <span style="display:block;"><button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-download"> </i> Download</button> &nbsp;&nbsp; <button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-upload"> </i> Upload</button></span>
    <label>Companion Authorization:</label> Authorization for minors to go to the conference with a companion that is not the parent.
    <span style="display:block;"><button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-download"> </i> Download</button> &nbsp;&nbsp; <button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-upload"> </i> Upload</button></span>
    <label>Overnight Authorization:</label> Authorization for minors to stay the night at the hotel with the assigned companion.
    <span style="display:block;"><button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-download"> </i> Download</button> &nbsp;&nbsp; <button class="btn  btn-ar btn-primary"><i class="fa fa-cloud-upload"> </i> Upload</button></span>    
</div>