<div ng-controller="profileSubmissionCtrl">
    <h3>Submission
        <span style="float:right; font-size:.6em; color:#666;">
            <select style="height: 34px">
                <option>
                    Extended Paper
                </option>
                <option>
                    Poster
                </option>
                <option>
                    Pannel
                </option>
                <option>
                    BoF
                </option>
                <option>
                    Workshop
                </option>
            </select>
            &nbsp;<button class="btn btn-ar btn-primary">Add New</button>
        </span>
    </h3>


    <div class="panel panel-default" style="padding: 0px 10px 10px 10px;">
        <h5>Extended Paper</h5>
        <div class="row">
            <div class="col-md-4">
                Topic category ->Dropdown <input type="text" class="form-control">
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-8">
                Abstract <textarea class="form-control abstract"></textarea>
            </div>
        </div><br />
        <div class="row">
            <div class="col-md-2">
                PDF file <input type="text" class="form-control">
            </div>
        </div>
    </div>
    <!--
    <div class="row panel panel-default" style="padding: 0px 10px 10px 10px;">
        <h5>Poster</h5>
        Topic category <input type="text" class="form-control">
        Abstract <textarea class="form-control abstract"></textarea>
        PDF file <input type="text" class="form-control">        
    </div>
    
    <div class="row panel panel-default" style="padding: 0px 10px 10px 10px;">
        <h5>Pannel</h5>        
        Topic category <input type="text" class="form-control">
        List of panelists with their biographies <input type="text" class="form-control">
        Abstract <textarea class="form-control abstract"></textarea>
        Plan <input type="text" class="form-control">
        Guiding Questions <input type="text" class="form-control">
        Format Description <input type="text" class="form-control">
        PDF file(s) <input type="text" class="form-control">
        Necessary Equipment <input type="text" class="form-control">
    </div>

    <div class="row panel panel-default" style="padding: 0px 10px 10px 10px;">
        <h5>BoF</h5>
        Title (topic) <input type="text" class="form-control">
        Description <textarea class="form-control abstract"></textarea>        
    </div>

    <div class="row panel panel-default" style="padding: 0px 10px 10px 10px;">
        <h5>Workshop</h5>
        Abstract <textarea class="form-control abstract"></textarea>
        Duration <input type="text" class="form-control">
        Delivery <input type="text" class="form-control">
        Plan <input type="text" class="form-control">
        PDF presentations <input type="text" class="form-control">
        Necessary equipment <input type="text" class="form-control">
    </div>
    -->

    <br />

    <button class="btn btn-ar btn-primary" style="float:left;">Submit</button>

    <span style="float:right;">
        <select style="height: 34px">
            <option>
                Extended Paper
            </option>
            <option>
                Poster
            </option>
            <option>
                Pannel
            </option>
            <option>
                BoF
            </option>
            <option>
                Workshop
            </option>
        </select>
        &nbsp;<button class="btn btn-ar btn-primary">Add New</button>
    </span>


</div>