<div ng-controller="profileBenefitsCtrl">

    <h3>Sponsor Benefits</h3>
    
    <div class="row">

        <div class="col-lg-12 col-sm-12">
            <h5>As a Platinum sponsor, you have these benefits.</h5>

            <div class="pricign-box">
                <div class="pricing-box-header platinum">
                    <h2 style="color: black;">Platinum</h2>
                    <p>Benefits</p>
                </div>
                <div class="pricing-box-price">
                    <h3>$ 6,000</h3>
                </div>
                <div class="pricing-box-content">
                    <ul>
                        <li> <center>Panel Speaker</center></li>
                        <li> <center>Swag in bags</center></li>
                        <li> <center>Name in press release</center></li>
                        <li> <center>3 free company bookings</center></li>
                        <li> <center>Booth Table</center></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>



</div>