<div class="container" ng-controller="profileCtrl">
    <div class="row">
        <br /> <br />
    </div>
    <div class="row">
        <div class="vertical-tabs-left">

            <div class="vertical-tab-list noPrint">
                <ul class="nav">
                    <li class="">
                        <a href="#/Profile/GeneralInformation" data-toggle="tab"><i class="fa fa-pencil"> </i> General Information</a>
                    </li>
                    <li>
                        <a href="#/Profile/Submission" data-toggle="tab"><i class="fa fa-newspaper-o"> </i> Submission</a>
                    </li>
                     
                    <li>
                        <a href="#/Profile/Authorization" data-toggle="tab"><i class="fa fa-plus-square-o"> </i> Authorization</a>
                    </li>
                    <li>
                        <a href="#/Profile/Benefits" data-toggle="tab"><i class="fa fa-dollar"> </i> Benefits</a>
                    </li>
                    <li>
                        <a href="#/Profile/Bill" data-toggle="tab"><i class="fa fa-money"></i> Receipt Information</a>
                    </li>
                    <li>
                        <a href="#/Profile/Evaluator" data-toggle="tab"><i class="fa fa-check-square-o"></i> Evaluations</a>
                    </li>

                </ul>
            </div>


            <!-- vertical-tab-list -->
            <div class="tab-content" style="width:100%;">

                <div ui-view="profilePage" autoscroll='false'>


                </div> <!-- tab-content -->

            </div> <!-- vertical-tabs-left -->

        </div>


        <div ui-view="viewEvaluation" autoscroll='false'>
        </div>

    </div>

</div>
