<div class="container" ng-controller="registrationCtrl as vm">
    <div class="row">
        <div class="col-md-12">
            <h2 class="section-title no-margin-top">Registration Fees</h2>
            <h4>The deadline for registration is: December 10, 2015. <br> Registration is subject to approval. </h4>
            <h5 class="black-label">General Instructions:</h5>
            <p class="p-lg">Please create an account to apply for a space in the conference. If you are submitting a paper, you do not need to apply. </p>
        </div>

        <div class="col-md-8">

            <table class="table">

                <thead>

                    <tr>

                        <th>Participant</th>

                        <th>Fee</th>

                        <th>After deadline fee</th>

                    </tr>

                </thead>

                <tbody>

                    <tr>

                        <td>University Student</td>

                        <td>$25</td>

                        <td>$40</td>

                    </tr>

                    <tr>

                        <td>High School Student</td>

                        <td>$20</td>

                        <td>$30</td>

                    </tr>

                    <tr>

                        <td>Professional</td>

                        <td>$50</td>

                        <td>$60</td>

                    </tr>

                </tbody>

            </table>
        </div>
    </div>
    
</div>