<div ng-controller="loginCtrl as vm">
    <h2 class="section-title">Reset Password</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="InputPassword">NewPassword<sup>*</sup></label>
                <input type="password" class="form-control" id="InputPassword">
            </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="InputConfirmPassword">Confirm Password<sup>*</sup></label>
                    <input type="password" class="form-control" id="InputConfirmPassword">
                </div>
            </div>
        </div>
    <div class="row">
        
        <div class="col-md-4">
            <button type="submit" class="btn btn-ar btn-primary pull-right">Save</button>
        </div>
    </div>

</div>

                       