<div class="container" ng-controller="venueCtrl as vm">

    <h2 class="section-title">Sponsors</h2>

    <!-- <div class="pricing-box animated fadeInUp animation-delay-1"> (for donations page) -->

    <section>
        <div class="row">

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-1">
                    <div class="pricing-box-header platinum">
                        <h2>Platinum</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 6,000</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center>Panel Speaker</center></li>
                            <li> <center>Swag in bags</center></li>
                            <li> <center>Name in press release</center></li>
                            <li> <center>3 free company bookings</center></li>
                            <li> <center>Booth Table</center></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-3">
                    <div class="pricing-box-header gold">
                        <h2>Gold</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 3,000</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center>Swag in bags</center></li>
                            <li> <center>Name in press release</center></li>
                            <li> <center>2 free company bookings</center></li>
                            <li> <center>Booth Table</center></li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-5">
                    <div class="pricing-box-header silver">
                        <h2>Silver</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 1,500</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center>Swag in bags</center></li>
                            <li> <center>Name in press release</center></li>
                            <li> <center>1 free company booking</center></li>
                            <li> <center>Booth Table</center></li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header bronze">
                        <h2>Bronze</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$ 1,000</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center>Swag in bags</center></li>
                            <li> <center>Name in press release</center></li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="pricing-box animated fadeInUp animation-delay-7">
                    <div class="pricing-box-header">
                        <h2>Supporter</h2>
                        <p>Pricing & Benefits</p>
                    </div>
                    <div class="pricing-box-price">
                        <h3>$100</h3>
                    </div>
                    <div class="pricing-box-content">
                        <ul>
                            <li> <center>Swag in bags</center></li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                            <li>&nbsp;</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>

</div>