<div class="container" ng-controller="venueCtrl as vm">
    <div class="row hide-until-loaded" id="body">
        <div class="col-md-9">
            <h2 class="section-title">Venue</h2>
            <p ng-hide="vm.ivenueTitle1 || vm.ivenueParagraph1 || vm.ivenueTitle2 || vm.ivenueParagraph2">No content to display.</p>
            <section>
                <h3>{{vm.ivenueTitle1}}</h3>
                <p class="p-lg" parse-url="props" ng-model="vm.ivenueParagraph1"></p>
                <h3>{{vm.ivenueTitle2}}</h3>
                <p class="p-lg" parse-url="props" ng-model="vm.ivenueParagraph2"></p>
            </section>
        </div>
        <div class="col-md-3">
            <h2 ng-show="vm.ivenueTitleBox" class="section-title no-top-margin">{{vm.ivenueTitleBox}}</h2>
            <div class="row">
                <div class="col-md-12 col-sm-4">
                    <p ng-hide="vm.ivenueParagraphContentBox">No content to display.</p>
                    <div class="home-news-box">
                        <p parse-url="props" ng-model="vm.ivenueParagraphContentBox"></p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- row -->
    <div class="col-lg-6">
        <modal source="vm.obj" visible="vm.showConfirmModal" okcallback=" vm.okFunc()"></modal>
    </div>
</div>