.title-field{
    padding-top:20px;
}

.after-title-field{
    padding-top:0px; 
    margin:0px;
}

.black-label{
    color:black;
}

#register-button{
    padding-top:40px;
}

#remember-me-checkbox{
    padding-left:20px;
    margin: 20px;
}