<h3>Participation</h3>

<div class="row">
    <div class="col-lg-10">
            <h5 class="after-title-field">Instructions for Extended Papers</h5>
            <textarea class="form-control" rows="5"></textarea>

            <h5>Instructions for Posters</h5>
            <textarea class="form-control" rows="5"></textarea>

            <h5>Instructions for Workshops</h5>
            <textarea class="form-control" rows="5"></textarea>

            <h5>Instructions for High School Students</h5>
            <textarea class="form-control" rows="5"></textarea><br>

            <div class="row">
                <div class="col-lg-10">
                    <button class="btn btn-ar btn-primary">Save</button>
                </div>
            </div>      
    </div>
</div>