<div class="container" ng-controller="administratorCtrl">
    <div class="row">
        <div class="column-lg-12">
            <h2 class="section-title">Administrator Settings</h2>
            <div class="vertical-tabs-left">
                <div class="vertical-tab-list">
                    <h5 class="title-centered">Website Content</h5>
                    <ul class="nav">
                        <li><a href="#/Administrator/GeneralInformation" data-toggle="tab">Home</a></li>
                        <li><a href="#/Administrator/ManageConferenceCommittee" data-toggle="tab">Planning Committee</a></li>
                        <li><a href="#/Administrator/Venue" data-toggle="tab">Venue</a></li>
                        <li><a href="#/Administrator/Deadlines" data-toggle="tab">Deadlines</a></li>
                        <li><a href="#/Administrator/RegistrationForm" data-toggle="tab">Registration</a></li>
                        <li><a href="#/Administrator/Participation" data-toggle="tab">Call for Participation</a></li>
                        <li><a href="#/Administrator/Agenda" data-toggle="tab">Agenda</a></li>
                        <li><a href="#/Administrator/Sponsors" data-toggle="tab">Sponsors</a></li>
                        <li><a href="#/Administrator/Contact" data-toggle="tab">Contact</a></li>
                    </ul>
                    <h5 class="title-centered">Conference Management</h5>
                    <ul class="nav">
                        <li><a href="#/Administrator/ManageCommittee" data-toggle="tab">Committee</a></li>
                        <li><a href="#/Administrator/ManageTopics" data-toggle="tab">Topics</a></li>
                        <li><a href="#/Administrator/ViewRegistration" data-toggle="tab">Registration List</a></li>
                        <li><a href="#/Administrator/ManageGuests" data-toggle="tab">Guests</a></li>
                        <li><a href="#/Administrator/ManageMinors" data-toggle="tab">Minors</a></li>
                        <li><a href="#/Administrator/ManageEvaluations" data-toggle="tab">Evaluations</a></li>
                        <li><a href="#/Administrator/ManageSponsors" data-toggle="tab">Sponsors</a></li>
                        <li><a href="#/Administrator/ManageEvaluations" data-toggle="tab">Evaluations</a></li>
                        <li><a href="#/Administrator/ManageTemplates" data-toggle="tab">Templates</a></li>
                        <li><a href="#/Administrator/ManageKeyCodes" data-toggle="tab">Key Codes</a></li>
                        <li><a href="#/Administrator/Reports" data-toggle="tab">Reports</a></li>
                    </ul>
                </div> <!-- vertical-tab-list -->
                <div class="tab-content" style="width:100%;">
                    <div ui-view="adminPage" autoscroll='false'> </div> <!-- tab-content -->
                    <div ui-view="adminPage" autoscroll='true'> </div> <!-- tab-content -->
                </div> <!-- vertical-tabs-left -->
            </div>
        </div>
    </div>
</div>

